@import url('https://fonts.googleapis.com/css?family=Abel');
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*generic*/
h1,h2,h3,h4,h5{
    font-weight: 300;
    color: #a1a1a1;
}
a,p{
    color: #a1a1a1;
}
a{
    color: #2da1d8;
    text-decoration: none;
}
a:hover{
    text-decoration: none;   
}
label,li{
    color: #a1a1a1;   
}
button{
    font-weight: 300;
    border-radius:0px;
    border:0px;
    text-shadow:0px !important;
}
section h2{
    color: #a1a1a1;
}
section.slider{
    padding:0;
}
label{
    color: #6b6e80;
    font-weight: 400;
}
select,
input{
    border-radius: 0px;
    box-shadow: none;
    font-weight: 400;
}
select:focus,
input:focus{
    border-radius: 0px;
    border-color: none;
    box-shadow: none;
}

/********** Sync Loader***********/
.section-loader {
  background: #fff url("../../img/sync/bg-loading.png") no-repeat right top;
}
.section-loader .section-load {
  width: 50%;
  margin: 0 auto;
}
.section-loader .section-load p {
  margin: 0;
  font-size: 30px;
  font-family: 'Abel', sans-serif;
  text-align: center;
}
.section-loader .as-brand {
  margin: 130px auto 80px;
  width: 50%;
}
.section-loader .progress-type {
  margin-top: 50px;
  border: 10px solid #fff;
  height: 50px;
  background-color: #eaeaea;
  background-image: none;
  box-shadow: none;
}
.section-loader .progress-type .progress-bar {
  background-color: #7bc9ff;
  background-image: none;
  box-shadow: none;
}

.logo-loader {
  -webkit-animation: App-logo-spin infinite 5s linear;
          animation: App-logo-spin infinite 5s linear;
  height: 80px;
  margin-top: 20px;
}

@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@media only screen and (min-width : 240px) and (max-width : 552px) {

      /********* Sync Loader *************/
      .section-load {
        width: 100%;
      }
      .section-load p {
        font-size: 20px;
      }
      .section-load .as-brand {
        width: 50%;
        margin: 100px auto 25px;
      }
      .section-load .as-brand img {
        width: 100%;
      }
}


@media only screen and (min-width: 553px) and (max-width: 767px) {

  /********* Sync Loader *************/
  .section-load {
    width: 100%;
  }
  .section-load .as-brand {
    width: 50%;
    margin: 50px auto;
  }
}

@media only screen and (max-width : 640px) and (orientation:landscape){

  /********* Sync Loader *************/
  .section-load {
    width: 100%;
  }
  .section-load .as-brand {
    width: 50%;
    margin: 50px auto;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) and (orientation: portrait){

    /*Loader*/
    .section-loader .container {
    margin: 0;
    padding: 0;
    }
    .section-loader .container .section-load {
    width: 100%;
    margin: 0 auto;
    }
    .section-loader .container .section-load .as-brand {
    width: 50%;
    margin: 130px 25% 80px;
    }
    .section-loader .container .section-load .as-brand img {
    width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:landscape){

    /*Loader*/
  .section-load {
    width: 100%;
    margin: 0px auto;
  }
  .section-load .as-brand {
    width: 30%;
    margin: 100px auto 50px;
  }
  .section-load .as-brand img {
    width: 100%;
  }
}
