@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url('https://fonts.googleapis.com/css?family=Abel');

@font-face {
    font-family: 'avantgarde_bk_btbook';
    src: url('../fonts/55889873-webfont.woff2') format('woff2'),
         url('../fonts/55889873-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*generic*/
h1,h2,h3,h4,h5{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    color: #a1a1a1;
}
a,p{
    font-family: 'Oxygen', sans-serif;
    color: #a1a1a1;
}
a{
    color: #2da1d8;
    text-decoration: none;
}
a:hover{
    text-decoration: none;   
}
label,li{
    color: #a1a1a1;
    font-family: 'Oxygen', sans-serif;   
}
button{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    border-radius:0px;
    border:0px;
    text-shadow:0px !important;
}
section{
    padding: 25px 0;
}
section h2{
    color: #a1a1a1;
    font-family: 'Oxygen', sans-serif;
}
section.slider{
    padding:0;
}
.btn-submit{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    border-radius:0px;
    border:0px;
    background: #2da1d8;
    text-decoration: none;
    color: #fff;
    padding:8px 25px;
    box-shadow: none;
}
.btn-submit:hover{
    color: #fff;
    background: #42b6ed;
}
.btn-action{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    border-radius:0px;
    border:0px;
    background: #2da1d8;
    color: #fff;
    box-shadow: none;
    text-shadow:0px !important;
}
.btn-action:hover{
    color: #fff;
    background: #42b6ed;
}
.btn-warning{
    border-radius:0px;
}
.btn-cancel{
    color:#a1a1a1;
}
.btn-cancel:hover{
    color: #acacac;
}
#btn-action{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    border-radius:0px;
    border:0px;
    background: #2da1d8;
    color: #fff;
    box-shadow: none;
    text-shadow:0px !important;
}
.btn-default{
    text-shadow:0px !important;
}
.section-intro{
    font-family: 'Oxygen', sans-serif;
    color: #a1a1a1;
    text-align: center;
    padding:20px 15%;
}
.intro-line{
    background: #2da1d8;
    height:2px;
    width:100px;
    margin:0 auto;
    margin-top:25px;
    margin-bottom:25px;
}
#accordion .btn-default .btn-action{
    box-shadow: none;
    text-shadow:0px !important;
}
.inactive{
    color: #eb594e;
}
.activated{
    color: #79ba9c;
}

/*nav*/
nav{
    background: rgba(255,255,255,.8);
    padding:15px 0 25px 0;
    border-bottom:1px solid #a1a1a1;
}
#navbar{
    margin:0;
}
.navbar-nav{
    padding-top: 10px;
}
#navbar li a{
    font-family: 'Oxygen', sans-serif;
    color: #337ab7;
}
#navbar li a:hover{
    background: none;
    color:#888;
    transition:all .2s;
}
.navbar p span.separator{
    font-family: 'Oxygen', sans-serif;
    color: #337ab7;
}
.navbar-nav .sub-menu{
    top:40px;
    display: none;
    animation-name:main-submenu;
    animation-duration:.5s;
    transition:all .5s;
}
.registration-header{
    padding:0;
    margin:0;
    color: #337ab7; 
}
.registration-header a{
    color: #337ab7;   
}
.top-main-menu{
    margin-right: 30px;
    position: relative;
    z-index: 3;
}
.main-menu > li{
    position: relative;
}
.main-menu > li:hover .sub-menu{
    display: block;
    opacity: 1;
}
.main-menu > li > a,
.main-menu > li > i{
    color: #337ab7;
    text-decoration: none;
}
.main-menu > li > a:hover{
    color: #888;
    transition:all .2s;
}
.sub-menu{
    top:20px;
    position: absolute;
    display: none;
    background: rgba(247,247,247,.8);
    padding:15px;
    border-radius:0px;
    border-right:5px solid #337ab7;
    border-left:5px solid #337ab7;
    box-shadow: 0px 1px 2px rgba(0,0,0,.2);
    animation-name:submenu;
    animation-duration:.5s;
    transition:all .5s;
}
.sub-menu ul{
    width: 200px;
    margin:0;
    padding:5px;
    list-style-type: none;
}
.sub-menu ul li{
    margin:0;
    padding:0;
}
.sub-menu ul li a{
    color: #337ab7;
    text-decoration: none;
}
.sub-menu ul li a:hover{
    color: #888;
}
.menu-triangle{
    top:-5px;
    margin-left:15px;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #f7f7f7;
}

@keyframes main-submenu{
    0%{
        opacity:0;
        top:60px;
        position: absolute;
    }
    100%{
        opacity: 1;
        top:40px;
        position: absolute;
    }
}

@keyframes submenu{
    0%{
        opacity:0;
        top:40px;
        position: absolute;
    }
    100%{
        opacity: 1;
        top:20px;
        position: absolute;
    }
}


/*input*/
select,
textarea,
input[type]{
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    height: 33px;
}
textarea,
select{
    border-radius: 0px !important;
}
input[type="radio"],
input[type="checkbox"]{
    height: auto;
    border-radius:0px;
}
select:focus,
input[type]:focus,
textarea.form-control:focus{
    border-radius: 0px;
    border-color: none;
    box-shadow: none;
}

/*slider*/
.slider{
    height: auto;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
.carousel .item{
    min-height: 700px;
    overflow: hidden;
}
.carousel-inner > .item{
    min-height: 700px;
    width:100%;
    position: relative;
    z-index: 1;
}
.carousel-inner > .item img{
    width:100%;
    min-height: 700px;
    background-position: 50% 50%;
    bottom: -20%;
    position: absolute;
}
.overlay{
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;
    z-index: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    top:0;
}
.carousel-caption{
    top:35%;
    z-index: 16;
}
.carousel-caption h1{
    font-size:60px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
.carousel-caption a.btn-submit{
    font-size:20px;
    margin-top:10px;
    font-family: 'Montserrat', sans-serif;
}
.carousel-indicators .active{
    background: #a1a1a1;
}

/*modal*/
#wizardmodal{
    padding: 0 !important;
}
.modal-header{
    height: 40px;
    border:0px;
}
.modal-dialog {
    height: 100%;
    margin: 0;
    border-radius: 0px;
    width: 100%;
    background: #fff;
}
.modal-body{
    height: auto;
    width: 105%;
}
.modal-header,
.modal-content{
    border-radius: 0px;
    box-shadow: none;
    border:0px;
}

/*wizard*/
#wizard{
    padding:15px 15%;
}
.wizard > .steps li.current .number{
    color: #fff;
}
.wizard > .steps > ul > li{
    width: auto !important;
}
.wizard p{
    color: #a1a1a1;
}
.wizard > .content > .body{
    background: #fff;
    padding:0 !important;
    position: relative !important;
}
.wizard > .content > .body label{
    border-radius:0px;
}
.wizard > .content{
    background: #fff !important;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
    background: #2da1d8 !important;
    border-radius:0px;
    padding-left:30px;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
    margin:0;
    padding-left:30px;
}
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active{
    background: #a1a1a1 !important;
    color: #e7e7e7 !important;
    padding-left:30px;
}
.wizard > .steps .done a span.triangle, .wizard > .steps .done a:hover span.triangle, .wizard > .steps .done a:active span.triangle{
    border-left: 28px solid #0d81b8;
}
.wizard > .steps .disabled a span.triangle, .wizard > .steps .disabled a:hover span.triangle, .wizard > .steps .disabled a:active span.triangle{
    border-left: 28px solid transparent;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active{
    padding-left:30px !important;
    background: #0d81b8 !important;
}
.wizard > .steps > ul > li, .wizard > .actions > ul > li{
    margin-right:0;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
    background: #2da1d8 !important;
    padding: 5px 15px !important;
}
.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active{
    color: #fff !important;
}
#wizard h4{
    color: #a1a1a1;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
.triangle {
    border-bottom: 28px solid transparent;
    border-left: 28px solid #2da1d8;
    border-top: 28px solid transparent;
    height: 0;
    position: absolute;
    right: -21px;
    top: 0;
    width: 0;
    z-index: 2;
}
#wizard label{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    color: #a1a1a1;
}
.wizard .theme-picture{
    position: relative;
}
.wizard .theme-description{
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0px;
}
.theme-description button{
    background: rgba(0,158,227,.5);
    color: #fff;
    border:0px;
    border-radius: 0px;
    text-shadow:none;
    box-shadow:none;
}
.theme-description button:hover{
    color: #fff;
    background: #42b6ed;
}
.panel-heading{
    border-radius:0px;
}
.panel-group .panel{
    border-radius:0px;   
}
.agent-site-info-panels{
    padding:15px 0;
}
.agent-site-info-panels label{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
.agent-site-info-panels input{
    border-radius:0px;
    font-family: 'Josefin Sans', sans-serif;
}
.agent-site-info-panels input:focus{
    border-color:none;
    box-shadow: none;
}

/*marketing pitch area*/
.marketing-pitch-area{
    padding:25px 0;
}
.excess-pitch{
    margin:0 auto;
    margin-top:15px;
    clear: both;
}
.icon-image{
    font-size:3em;
    text-align: center;
    color: #a1a1a1;
    position: relative;
}
.description{
    text-align: center;
    color: #a1a1a1;
}
.description h4{
    color: #a1a1a1;
    font-family: 'Oxygen', sans-serif;
    margin-top:25px;
}
.diamond {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #2da1d8;
    position: absolute;
    top: -70px;
    z-index: -1;
    margin-left:-50px;
    visibility: hidden;
    opacity:0;
    transition:all .5s;
}
.diamond:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 49px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #2da1d8;
}
/*.icon-image:hover{
    color: #fff;
    transition:all .5s;
}
.icon-image:hover p .diamond{
    visibility: visible;
    opacity:1;
    transition:all .5s;
}*/
.marketing-item:hover .description{
    position: relative;
    top:25px;
    animation-name:marketing;
    animation-duration:.5s;
}
.marketing-item:hover i{
    color: #fff;
    transition:all .5s;
}
.marketing-item:hover p .diamond{
    visibility: visible;
    opacity:1;
    transition:all .5s;
}
@keyframes marketing{
    0%{
        top:0;
    }
    100%{
        top:25px;
    }
}

/*customer reviews area*/
.customer-reviews-area{
    background: #009EE3;
}
.review-title{
    color: #fff;
    text-align: center;
}

/*testimonial area*/
#testimonial{
    padding:0 0 25px;
}
#testimonial p,
#testimonial h3{
    color: #fff;
}
#testimonial p{
    padding:0 10%;
}
#testimonial h3,
#testimonial h4{
    padding:0;
    color: #fff;
}
#testimonial img{
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    max-width: 100px;
}
.customer-reviews-area .intro-line{
    background: #fff;
    height:2px;
    width:100px;
    margin:0 auto;
    margin-top:25px;
    margin-bottom:25px;
}
.owl-theme .owl-controls .owl-buttons div {
    border-radius: 0 !important;
    background: none !important;
    border:1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    opacity: 0.5;
    padding: 3px 10px;
}

/**/
.page-content{
    margin: 100px 0 50px 0;
}

/*contact page*/
.contact-area{
    margin:40px 0;
    padding:0 15%;
}
label{
    color: #6b6e80;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
select,
input{
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}
select:focus,
input:focus{
    border-radius: 0px;
    border-color: none;
    box-shadow: none;
}
.side-contact{
    margin:90px 0;
}
.side-contact h4{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
.side-contact ul{
    margin:0;
    padding: 0;
    list-style-type:none;
}
.contact-social-media i{
    background: #2da1d8 none repeat scroll 0 0;
    border-radius: 50%;
    color: #f4f4f4;
    height: 28px;
    line-height: 29px;
    margin-right: 7px;
    text-align: center;
    width: 28px;
}
.contact-social-media i.fa-facebook{
    background: #3A5795;
}
.contact-social-media i.fa-twitter{
    background: #2FC2EF;
}
.contact-social-media i.fa-google-plus{
    background: #D24338;
}
.contact-social-media i.fa-linkedin{
    background:#1884BB;
}
/*price*/
.price-table {
    border: 1px solid #e3e3e3;
}
.sec-title{
    color: #a1a1a1;
    font-family: "Oxygen",sans-serif;
}
.price-table.featured {
    -webkit-box-shadow: 0 4px 5px rgba(0,0,0,0.19);
       -moz-box-shadow: 0 4px 5px rgba(0,0,0,0.19);
            box-shadow: 0 4px 5px rgba(0,0,0,0.19);
}
.price-table.featured .value span{
    color: #fff;
}
.price-table > span {
    color: #a1a1a1;
    display: block;
    font-size: 24px;
    padding: 30px 0;
    text-transform: uppercase;
    font-family: "Oxygen",sans-serif;
}
.price-table .value {
    background-color: #f8f8f8;
    color: #a1a1a1;
    padding: 20px 0;

    -webkit-transition: all 0.7s ease 0s;
       -moz-transition: all 0.7s ease 0s;
        -ms-transition: all 0.7s ease 0s;
         -o-transition: all 0.7s ease 0s;
            transition: all 0.7s ease 0s;
}
.price-table.featured .value {
    background-color: #009EE3;
    color: #fff;
}
.price-table .value span {
    display: inline-block;
    color: #a1a1a1;
}
.price-table .value span:first-child {
    font-size: 32px;
    line-height: 32px;
}
.price-table .value span:nth-child(2) {
    font-size: 65px;
    line-height: 65px;
    margin-bottom: 25px;
}
.price-table .value span:last-child {
    font-size: 16px;
}
.price-table ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.price-table ul li {
    border-top: 1px solid #e3e3e3;
    display: block;
    padding: 25px 0;
    color: #a1a1a1;
    font-family: "Oxygen",sans-serif;
    -webkit-transition: all 0.7s ease 0s;
       -moz-transition: all 0.7s ease 0s;
        -ms-transition: all 0.7s ease 0s;
         -o-transition: all 0.7s ease 0s;
            transition: all 0.7s ease 0s;
}
.price-table ul li a {
    display: block;
    text-transform: uppercase;
}
.price-table.featured ul li:last-child,
.price-table ul li:last-child:hover {
    background-color: #009EE3;
}
.price-table.featured ul li:last-child a,
.price-table ul li:last-child:hover a {
    color: #fff;
}

/*login page*/
.login-content{
    margin:50px 0;
    padding:15px;
    background: #f7f7f7;
    border:1px solid #e3e3e3;
}
.login-text{
    font-family: "Oxygen",sans-serif;
}

/*page styles*/
.page-container{
    padding:8% 0;
}
.page-title-container{
    background: #f7f7f7;
    padding:50px 0;
    margin:0 0 50px 0;
}
.page-title-container h2{
    margin:0;
    padding:0;
}
.page-section{
    padding:50px 0;
    clear: both;
}

/*how it works*/
.howitworks-flow{
    margin:0 auto;
}

/*about us*/
.about-us-description{
    padding:0 25px;
}
.about-us-description p{
    font-size:18px;
    font-weight: 300;
}
.about-us-contact h4{
    font-size:25px;
    font-weight: 300;
    margin:0 0 25px 0;
    padding: 0;
}
.about-us-contact ul{
    margin:0;
    padding:0;
    list-style-type: none;
}
.about-us-contact li{
    font-size:18px;
    font-weight: 300;   
}
.team-container{
    padding:50px 0;
}
.team{
    border:5px solid transparent;
    padding:5px;
}
.team-item:hover .team{
    border:5px solid #0083C1;
    transition:all .2s ease-in;
}

/*contact us*/
.contact-us-form{
    padding:0 15%;
}

/*footer*/
footer{
    background: #2E2E2E;
    padding:50px 0;
}
.social-icons ul{
    margin:0 auto;
    padding:0;
    list-style-type: none;
}
.social-icons ul li a{
    font-size:25px;
    color: #a1a1a1;
}

/************************/
/*   CUSTOM CSS KARL    */
/************************/

/* For Custom Domain */
#existing_domain h4 {
    display:inline-block;
}

#existing_domain button {
    margin: 0 15px; 
    border-radius:0px; 
    padding:8px 25px;
}


/** smartphone (portrait and landscape)**/
@media only screen and (min-width : 240px) and (max-width : 552px) {
    .signup-welcome{
        font-size:23px;
    }

    .sign-in-container .btn-create-account {
        width: 100%;
        margin-bottom: 10px;
    }

    .sign-in-container .fb_btn img {
        width: 75% !important;
        margin: 0 auto;
        display: block;
    }

    .form-signin .no-padding-right {
        padding-left: 0;
    }
    .mobile-center{
        text-align: center;
    }
    .brand-name {
        width: 40%;
    }

    .footer-brand {
        bottom: 10px !important;
    }

}

.legal-modal .modal-content{
    border-radius:0px;
}
.legal-modal .modal-header{
    background: #3498DB;
    color: #fff;
    height:80px;
}
.legal-modal .modal-content h4{
    color: #000;
    font-weight:600;
}

.legal-modal .modal-dialog {
    border-radius: 0px;
    background: #fff;
    margin: 0 auto;
    width:50%;
}
.legal-modal .modal-body{
    height: auto;
    width: 100%;
}

/*sign in page*/
/*.sign-in-page{
    background: url("../img/landing/sign-in-img.jpg") no-repeat;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/
.sign-up-page{
    background: url(../img/landing/sign-in-img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sign-up-strip{
    position: relative;
    margin-top:8%;
    background: rgba(255,255,255,.8);
    z-index: 1;
}
/*.sign-in-page .sign-up-strip{
    top: 100px;
}*/
.sign-up-container{
    background: rgba(0,12,35,.8);
    padding:40px 60px;
}
.sign-up-container p,
.sign-up-container label,
.sign-up-container h2{
    color: #fff;
}
.sign-up-container h2{
    font-weight: bold;
}
.sign-up-logo{
    /*padding-top:120px;*/
    max-width: 300px;
    /*margin-top: 10px;*/
}
.btn-create-account{
    background: #ff7800;
    color: #fff;
    border:0px;
    border-radius:0px;
    font-family: "Source Sans Pro",sans-serif;
    text-shadow:none;
    padding: 8px 40px;
    font-size:14px;
}

.btn-create-account:active,
.btn-create-account:visited,
.btn-create-account:focus,
.btn-create-account.active.focus, 
.btn-create-account.active:focus, 
.btn-create-account.active:hover, 
.btn-create-account:active.focus, 
.btn-create-account:active:focus, 
.btn-create-account:active:hover, 
.btn-create-account:hover {
    background: #ff7800 !important;
    color: #fff;
}

.welcoming-sign-up{
    margin-top: 200px;
    display: block;
    width: 100%;
}
.welcoming-sign-up h1{
    font-family: "Oswald",sans-serif;
    font-weight: bold;
    font-size:30pt;
    color: #555555;
    display: inline;
    margin-top: 14px;
    float: left;
    margin-right: 15px;
}
.welcoming-sign-up h4{
    color: #555555;  
    font-size: 15pt;
    font-weight: normal; 
}
.sign-up-container a{
    color: #649bff;
}
.sign-up-container a:focus {
    outline: none;
}
.have-account {
    margin-top: 50px;
}

.have-account p,
.have-account a{
    margin-bottom:0;
}

.no-padding-right {
    padding-right: 0;
}

.sign-in-account {
    margin-top: 50px;
}

.sign-in-account p {
    margin-bottom: 0;
    font-size: 17px;
}

.form-signin {
    margin-top: 50px;
}

.sign-in-container{
    background: rgba(0,12,35,.8);
    padding:40px 60px;
}
.sign-in-container p,
.sign-in-container label {
    font-family: 'Oxygen', sans-serif;
    color: #fff;
    font-size: 15px;
    letter-spacing: .7px;
    line-height: 16px;
}
.sign-in-container h2{
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    font-family: 'Oxygen', sans-serif;
}
.sign-in-container a{
    color: #649bff;
}
.sign-in-container .btn-create-account{
    font-family: 'Oxygen', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
}
.sign-in-container .btn-create-account:focus{
    outline: none;
}

.footer-brand {
    margin-top: 3%;
}

.sign-in-page .footer-brand {
    position: absolute;
    bottom: 50px;
    margin-top: 0;
}

#fb-btn {
    display: inline;
    width: 50%;
    background-color: #3c5c95;
    padding: 9px 15px 12px 15px;
    text-align: center;
}

#fb-btn span {
    color: #fff;
}

#fb-btn .fb-text {
    margin-left: 10px;
    font-size: 12px;
}

#fb-btn:hover, #fb-btn:active, #fb-btn:focus {
    text-decoration: none;
    background-color: #49659a;
}

.brand-name {
    display: block;
    width: 10%;
    margin: 0 auto;
}

.brand-name .footer-logo {
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    padding: 5px 8px;
    margin-top: 9px;
}
.text-powered {
    margin-top: 15px;
    margin-left: 100px;
    color: #fff;
    text-shadow: 0px 1px 1px rgba(0,0,0,.8)
}

// Common 

.mb-25px {
    margin-bottom: 25px;
}

@media only screen and (min-width : 240px) and (max-width : 552px) {
    /*sign up page*/
    .sign-up-strip{
        top:15px;
        padding:15px 0;
    }

    .welcoming-sign-up {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .welcoming-sign-up h1 {
        font-size: 34px;
        width: 100%;
    }
    .text-powered {
        margin-top: 0;
        margin-bottom: 35px;
        margin-left: 0;
        text-align: center;
    }
    .sign-up-logo {
        margin: 30px auto;
        display: block;
        padding-top: 0;
    }
    
    .sign-up-container .btn-create-account {
        width: 100%;
        margin-bottom: 10px;
    }

    .form-signup .no-padding-right {}

    .sign-up-container .no-padding-left {
        padding: 0;
    }

    .have-account {
        margin-top: 50px;
    }

    .have-account p, .have-account a {
        text-align: center;
    }
    .sign-in-container .fb_btn img {
        width: 75% !important;
        margin: 0 auto;
        display: block;
    }
    .brand-name {
        width: 40%;
    }

    .footer-brand {
        bottom: 10px !important;
    }
    .sign-up-page .footer-brand {
        margin-top: 8%;
    }
    
    #fb-btn {
        width: 100%;
        display: block;
    }

    .modal-dialog.modal-lg {
        width: 100%;
    }
}

@media only screen and (min-width: 553px) and (max-width: 773px)  {
    /*sign up page*/
    .sign-up-strip{
        top:15px;
        padding:15px 0;
    }
    .sign-up-logo{
        padding-top:15px;
    }
}

@media only screen and (max-width : 640px) and (orientation:landscape){
    /*sign up page*/
    .sign-up-strip{
        top:15px;
        padding:15px 0;
    }
    .sign-up-logo{
        padding-top:15px;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait){
    /*sign up page*/
    .sign-up-strip{
        top:160px;
    }
    .sign-up-logo{
        padding-top:70px;
    }
    .welcoming-sign-up {
        text-align: center;
    }

    .welcoming-sign-up h1 {
        margin: 0 auto;
        float: none;
        margin-bottom: 13px;
        display: block;
    }

    .text-powered {
        text-align: center !important;
        margin-top: 10px;
        margin-left: 0;
    }

    .form-signin .no-padding-right {
        padding-left: 0;
    }

    .sign-in-container .btn-create-account {
        width: 100%;
        margin-bottom: 10px;
    }

    .fb_btn {
        display: block;
    }

    .fb_btn img {
        width: 100% !important;
    }
    .brand-name {
        width: 30%;
    }
}

