.ga-modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.2);
}
.ga-modal{
  max-width: 500px;
  width: 100%;
  min-height: 300px;
  position: relative;
  display: block;
  margin: 50px auto 0;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.6);
}
.ga-container:after,
.module-ga:after,
#ga-widget-content:after,
#ga-controls:after,
#ga-controls .col-md-4:after{
  content: '';
  width: 100%;
  display: block;
  clear: both;
}
.as-datepicker{
  max-width: 100px;
  border: 1px solid #bbb;
  background: white;
  text-align: center;
}
#ga-widget-content{
  width: 100%;
  max-width: 100%;
  table-layout: fixed;
}

.ga-tooltip{
  position: absolute;
  max-width: 500px;
  width: 100%;
  right: 0;
  bottom: 40px;
  background-color: #00578f;
  padding: 10px;
  text-align: center;
  color: white;
  border-radius: 5px;
  display: none;
}

.ga-tooltip:after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 7.5px 0 7.5px;
  border-color: #00588f transparent transparent transparent;
  position: absolute;
  bottom: -9px;
  z-index: 10;
  right: 40px;
}
#ga-message-use-mine:hover .ga-tooltip{
  display: block !important;
}
