.m-0 {
	margin: 0;
}
.mr-20px {
    margin-right: 20px;
}

.mb-30px {
	margin-bottom: 30px;
}

.mt-33px {
	margin-top: 33px;
}

/*misc*/
.no-padding-left{
    padding-left:0;
}
.no-padding-right{
    padding-right:0;
}

.paddingtop-10px {
	padding: 10px;
}

.padding-2px {
	padding: 0 2px !important;
}

.pr-30 {
	padding-right: 30px;
}

.item-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.item-container-spw {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-left: -20px;
}


.item-container .item, .item-container-spw .item {
	margin: 10px 20px;
}
@media only screen and (max-width: 768px) {
	.item-container, .item-container-spw {
		display:block;
	}
	
	.item-container > *, .item-container-spw > * {
		display: inline-block;
		margin: 1rem 1rem;
	}
}
@media only screen and (max-width: 600px) {
	
	.item-container .item-1,
	.item-container .item-2,
	.item-container .item-3, 
	.item-container-spw .item-1, 
	.item-container-spw .item-2 {
		display: inline-block;
		margin: 1rem 1rem;
	}

	.item-container .item-4 :input, a, button{
		display:block;
	}
}

@media only screen and (min-width : 240px) and (max-width : 552px) {

	.paddingmobile-0 {
		padding: 0
	}
	.marginmobileipadtop-10 {
        margin-top: 10px;
	}
}

@media only screen and (min-width: 600px) and (max-width: 1024px) and (orientation: portrait) {
	.marginmobileipadtop-10 {
        margin-top: 10px;
	}

}
@media only screen and (min-width: 1024px) and (max-width: 600px) and (orientation: landscape) {
	.marginmobileipadtop-10 {
        margin-top: 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait) {
	.marginmobileipadtop-10 {
        margin-top: 10px;
	}
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation: landscape) { 
	.margintablettop-5 {
        margin-top: 5px;
	}
}
