/*
  page: Custom Homepage
*/
.controls{
  margin-bottom: 10px;
  font-size: 30px;
}
.controls button{
  float: right;
  margin-left:8px;
}
.page-representation{
  border: 1px solid rgba(0,0,0,0.2);
}
.page-representation img{
  max-width: 100%;
}
.toggler-container{
  font-size: 18px;
  color: #888;
  margin-left: 30px;
}
.toggler-container input[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgba(0,0,0,0.2);
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
  margin: 0;
  margin-right: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  margin-top: -5px;
}
.toggler-container input[type="checkbox"]:hover{
  cursor: pointer;
}
.toggler-container input[type="checkbox"]:checked{
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-bottom: 4px solid green;
  border-right: 4px solid green;
  width: 10px;
  margin-top: -10px;
}
.toggler-container input[type="checkbox"]:active,
.toggler-container input[type="checkbox"]:focus{
  outline: none;
}
.btn-darkblue:hover {
  background-color: #2a5cd6;
}
.btn-grey {
  font-family: 'Montserrat', sans-serif;
  background-color: #a9aebb;
  color: #fff;
  padding: 5px 10px !important;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px #7c808a;
  font-size: 18px;
}

.btn-grey:hover {
  color: #fff;
  background-color: #9aa1b3;
}
.btn-grey:active,
.btn-grey:focus  {
  background-color: #657392;
  box-shadow: 0 2px #141519;
  transform: translateY(3px);
  color: #fff;
  outline:none;
}
#layout-builder{
  text-align: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.page-representation > div{
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.page-representation.hide-others > div:not(#layout-builder){
  /*display: none;*/
  opacity: 0;
  /*overflow: hidden;*/
  height: 0;
  visibility: hidden;
}
.lb-row{
  min-height: 150px;
  border: 2px dashed rgba(0,0,0,0.2);
  margin: auto;
  margin-top: 5px;
}
.lb-row:hover{
  border: 2px dashed #3c8dbc;
}
.row-menu-bar{
  background-color: rgba(0,0,0,0.1);
  text-align: left;
  padding: 5px;
  padding-left: 15px;
}
.row-menu-bar button{
  display: inline-block;
  float: right;
  vertical-align: middle;
  border-radius: 3px;
  border: none;
  margin-left: 3px;
  width: 25px;
  height: 25px;
  background-color: rgba(0,0,0,0.1);
  color: #555;
}
.row-menu-bar button:focus{
  outline: none;
}
.row-menu-bar:after,
.controls:after{
  content: '';
  width: 100%;
  display: block;
  clear: both;
}
.row-menu-bar button:hover{
  background-color: #3c8dbc;
  color: white;
}
.row-menu-bar button:hover i,
.row-menu-bar button:hover i:before,
.row-menu-bar button:hover i:after{
  border-color: white;
}
.btn-column{
  padding: 0;
  text-align: center;
}
.btn-column-icon{
  width: 15px;
  height: 12px;
  border: 1.5px solid #555;
  display: block;
  margin: auto;
}
.btn-column[size="1"] i{
  position: relative;
}
.btn-column[size="2"] i{
  width: 16px;
}
.btn-column[size="2"] i:before{
  content: '';
  height: 100%;
  width: 2px;
  margin: auto;
  display: block;
  background-color: #555;
}
.btn-column[size="3"] i{
  width: 17px;
}
.btn-column[size="3"] i:before,
.btn-column[size="3"] i:after{
  content: '';
  height: 100%;
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.btn-column[size="3"] i:before{
  border-right: 2px solid #555;
  margin-right: 2px;
}
.row-menu-bar button.btn-column:hover i:before{
  background-color: white;
}
.row-menu-bar button.btn-column[size="3"]:hover i:before{
  background-color: transparent;
}
.btn-column[size="3"] i:after{
  border-left: 2px solid #555;
  margin-left: 1px;
}
.row-menu-bar button.btn-delete{
  color: #d42727;
}
.row-menu-bar button.btn-delete:hover{
  background-color: #d42727;
  color: white;
}
.modals-overlay{
  height: 100%;
  height: 100vh;
  width: 100%;
  display: block;
  background-color: rgba(0,0,0,0.4);
  overflow-y: auto;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}
.modal-builder{
  max-width: 700px;
  background-color: #f3f3f3;
  margin: auto;
  margin-top: 10%;
  margin-top: calc(50vh - 250px);
  padding: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
  text-align: center;
  margin-bottom: 50px;
}
.modal-builder .fa-trash{
  color: red;
}
.modal-title{
  margin-top: 0;
  margin-bottom: 20px;
}
.modal-builder p{
  margin-bottom: 20px;
}
.modal-builder button:focus{
  outline: none;
}
.modal-cancel{
  position: absolute;
  top: 0;
  right: 5px;
  background: none;
  border: none;
  font-size: 30px;
  color: #888;
}
.modal-okay,
.modal-delete{
  background-color: #2476a5;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 8px 15px;
  font-size: 20px;
  box-shadow: 2px 3px 0 rgba(0,0,0,0.2);
  margin: 0 5px;
}
.modal-delete{
  background-color: #ef6262;
}
.modal-delete:hover{
  background-color: #d83333;
}
.modal-okay:hover{
  background-color: #076093;
}
.btn-modal-red{
  background-color: #df1a1a;
}
.btn-modal-red:hover{
  background-color: #c60101;
}
.modal-cancel:hover{
  color: #df1a1a;
}
.lb-columns{
  position: relative;
  font-size: 0;
  padding: 8px;
}
.lb-row .lb-columns{
  max-width: 960px;
  margin: auto;
}
.lb-row .lb-columns.fullwidth{
  max-width: 100%;
}
.lb-column{
  font-size: initial;
  display: inline-block;
  vertical-align: top;
  border: 1px dashed rgba(0,0,0,0.2);
  height: 100%;
  min-height: 150px;
}
.lb-column:hover{
  border-color: #1ac41a;
  border-width: 2px;
}
.lb-columns[size="1"] .lb-column{
  width: 100%;
}
.lb-columns[size="2"] .lb-column{
  width: 50%;
}
.lb-columns[size="3"] .lb-column{
  width: 33.33%;
}
.lb-row[row="1"][rowcount="1"] .btn-up,
.lb-row[row="1"][rowcount="1"] .btn-down,
.lb-row[row="1"][rowcount="2"] .btn-up,
.lb-row[row="2"][rowcount="2"] .btn-down,
.lb-row[row="1"][rowcount="3"] .btn-up,
.lb-row[row="3"][rowcount="3"] .btn-down{
  pointer-events: none;
  color: #bbb;
}
.modal-selection{
  padding: 0 20px 20px;
}
.modal-selection .modal-item{
  display: inline-block;
  vertical-align: top;
  max-width: 170px;
  border: 1px solid rgba(0,0,0,0.1);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  background-color: white;
}
.modal-selection  .modal-item-icon{
  max-width: 100%;
}
.modal-selection .modal-item h5{
  margin: 0;
  margin-bottom: 10px;
}
.modal-selection .modal-item:hover{
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.lb-widget{
  text-align: center;
  position: relative;
}
.lb-widget img{
  width: 100%;
}
.lb-widget:hover{
  cursor: pointer;
}
.modal-fields{
  margin-bottom: 30px;
}
.modal-fields .input-group-addon{
  background-color: rgba(0,0,0,0.05);
}
.modal-fields > div{
  margin-bottom: 5px;
  position: relative;
}
.data-feed{
  position: absolute;
  width: 100%;
  max-width: 280px;
  left: 48%;
  left: calc(50% - 140px);
  bottom: 45%;
  text-transform: capitalize;
  background-color: #ef7702;
  color: white;
}
.loader-overlay{
  background-image: url('/assets/images/dashboard/theme-loader.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
/*.btn-darkblue:focus{
  transform: translateY(0);
  box-shadow: 0 4px #33529e;
}*/
#add-row{
  background-color: #08b308;
  color: white;
  border: 0;
  padding: 8px 20px;
  font-size: 18px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#add-row:hover{
  background-color: #049e04;
}
#add-row i{
  margin-right: 5px;
  vertical-align: middle;
}
input[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(0,0,0,0.3);
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 8px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
input[type="checkbox"]:hover{
  cursor: pointer;
}
input[type="checkbox"]:focus{
  outline: none;
}
input[type="checkbox"]:checked{
  width: 10px;
  border: none;
  border-bottom: 3px solid green;
  border-right: 3px solid green;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checklist-group{
  background-color: white;
  border: 1px solid rgba(0,0,0,0.1);
  padding: 10px 20px;
  max-height: 180px;
  overflow-y: auto;
  list-style: none;
  text-align: left;
  position: relative;
  min-height: 100px;
}
.checklist-group li{
  width: 33%;
  display: inline-block;
  text-align: left;
  padding-right: 15px;
}
.checklist-group li input[type="checkbox"]{
  margin-right: 8px;
}
.checklist-group li label{
  width: calc(100% - 30px);
  vertical-align: top;
  margin-top: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.input.loading{
  pointer-events: none;
}
.input.loading:after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background-image: url('/assets/images/dashboard/theme-loader.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.1);
}
.btn-loadmore{
  border: 2px solid rgba(175,175,175,0.5);
  background-color: white;
  border-radius: 5px;
  padding: 2px 8px;
}
.btn-loadmore:hover{
  background-color: rgba(175,175,175,0.05);
}

.ss_search{
  font-size: 0;
}
.ss_search input,
.ss_search button{
  font-size: initial;
  display: inline-block;
  vertical-align: middle;
}
.ss_search input{
  width: calc(100% - 40px);
}
.ss_search button{
  width: 40px;
  padding: 9px;
  line-height: 1;
  background-color: #bbb;
  border: none;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.savedsearch-controls{
  position: relative;
}
.savedsearch-controls.fetching:before{
  content: '';
  position: absolute;
  top: -40px;
  right: 15px;
  display: inline-block;
  height: 40px;
  background-size: 80px;
  width: 60px;
  background-image: url('/assets/images/dashboard/scroll-loader.svg');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 44;
}
.form-control.error{
  border: 2px solid red;
}

