/*-------------------------------
    Check Domain Availability Results
--------------------------------*/
#domain-result h4 {
    text-align:left;
    margin-top: 20px;
}
#domain-result h4.featured{
    text-align:left;
}
#domain-result h4.taken {
    color:#c9302c;
}
#domain-result h4 span {
    color: #3bb672;
    font-weight:bold;
}
#domain-result h3 {
    font-size: 20px;
    font-weight: inherit;
    margin: 25px 0 10px 0;  
}
.domain-table thead tr th:nth-child(2), .domain-table tbody tr td:nth-child(2),
.domain-table thead tr th:nth-child(3), .domain-table tbody tr td:nth-child(3) {
    text-align: left;
}
.domain-table tbody tr td{
    border:none;
    padding: 2px 0;
}
.domain-table thead tr th{
    border:none;
    padding:10px 0 5px 0;
    color: #3bb672;
    font-weight: 400;
}

.domain-group{
    clear: both;
    margin: 15px 0;
}
.domain-group h4{
    clear: both;
    margin:15px 0;
}
.domain-group h5{
    color: #3bb672;
}
.domain-list{
    padding:15px 0;
    clear:both;
    width: 100%;
    list-style: none;
}
/*.domain-list li:after,.domain-list li:before{
    clear: both;
    content:" ";
    display: table;
}*/
.domain-list li{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    width: 100%;
    clear: both;
    line-height: 55px;
}

#existing_domain, #choose_domain_type, #domain_container, #subdomain_container {
    display: none;
    margin: 20px 0px;
}

#domain_yes, #domain_no {
    margin:0 10px;
}

@media only screen and (min-width : 240px) and (max-width : 552px) {
    #domain_yes, #domain_no {
        // margin: 0 10px;
        display: block;
        width: 100%;
        margin-top: 5px;
        margin-left: 0;
    }

}
