.fileUploader .filesContainer .newElement .fileTitle, .fileUploader .filesContainer .newElement .loadBar, .fileUploader .filesContainer .newElement .fileActions, .fileUploader .result > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.fileUploader .dropZone {
  transition: all 1s;
  -webkit-transition: all 1s; }

.fileUploader {
  color: #333;
  font-weight: bold; }
  .fileUploader img {
    display: block; }
  .fileUploader .hide {
    display: none !important; }
  .fileUploader .inputContainer {
    display: none; }
  .fileUploader .dropZone {
    min-height: 150px;
    width: 100%;
    margin-top: 25px;
    border: dashed 3px #333;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    font-size: 36px;
    color: gray; }
  .fileUploader .highlight {
    color: #76ff03;
    border-color: #76ff03; }
  .fileUploader .filesContainer {
    margin-top: 25px; }
    .fileUploader .filesContainer .error .fileTitle {
      color: #FF0022 !important; }
    .fileUploader .filesContainer .error .loadBar {
      border: solid 2px #FF0022 !important; }
      .fileUploader .filesContainer .error .loadBar .errorMsg {
        color: #FF0022 !important;
        font-family: 'Source Sans Pro', sans-serif;
        font-size:14px;
        font-weight: 300;
        font-size: 18px;
        line-height: 40px;
        height: 100%;
        width: 100%;
        background-color: transparent !important;
        text-align: center; }
    .fileUploader .filesContainer .error .fileActions div {
      color: #FF0022 !important; }
    .fileUploader .filesContainer .error .fileActions a {
      color: #FF0022 !important; }
    .fileUploader .filesContainer .fileThumb {
      max-height: 130px;
      margin: auto; }
    .fileUploader .filesContainer .reloadedElement .fileTitle {
      color: #1b5e20 !important; }
    .fileUploader .filesContainer .reloadedElement .loadBar {
      border: solid 2px #1b5e20 !important; }
      .fileUploader .filesContainer .reloadedElement .loadBar div {
        background-color: #1b5e20 !important; }
    .fileUploader .filesContainer .reloadedElement .fileActions a, .fileUploader .filesContainer .reloadedElement .fileActions .fileDelete {
      color: #1b5e20 !important; }
    .fileUploader .filesContainer .newElement {
      width: 100%;
      height: 40px;
      margin-bottom: 7px; }
      .fileUploader .filesContainer .newElement input {
        background-color: transparent; }
        .fileUploader .filesContainer .newElement input:focus {
          outline: none !important; }
      .fileUploader .filesContainer .newElement > input, .fileUploader .filesContainer .newElement > div {
        float: left; }
      .fileUploader .filesContainer .newElement .fileTitle {
        width: 38%;
        margin-right: 2%;
        color: #333;
        font-size: 18px;
        border: none;
        text-align: right;
        position: relative;
        top: 10px; }
      .fileUploader .filesContainer .newElement .fileExt {
        display: none; }
      .fileUploader .filesContainer .newElement .loadBar {
        border: solid 2px #333;
        width: 28%;
        margin-right: 2%;
        height: 100%; }
        .fileUploader .filesContainer .newElement .loadBar div {
          background-color: #333;
          width: 0;
          height: 100%; }
      .fileUploader .filesContainer .newElement .fileActions {
        position: relative;
        width: 30%;
        position: relative;
        top: 10px; }
        .fileUploader .filesContainer .newElement .fileActions div {
          display: inline-block; }
          .fileUploader .filesContainer .newElement .fileActions div:first-child {
            margin-right: 25px; }
        .fileUploader .filesContainer .newElement .fileActions a {
          text-decoration: none !important;
          color: #333;
          cursor: pointer; }
        .fileUploader .filesContainer .newElement .fileActions .fileDelete {
          cursor: pointer; }
  .fileUploader .result {
    margin-top: 5px;
    color: #ff0000;
    border: dashed 3px #ff0000;
    min-height: 35px;
    padding: 15px; }
    .fileUploader .result > div {
      margin-bottom: 15px;
      width: 49%;
      margin-right: 1%;
      float: left; }
      .fileUploader .result > div input {
        width: 100%;
        display: block; }
    .fileUploader .result:last-child:after {
      content: '';
      display: block;
      clear: both; }
  .fileUploader .debugMode {
    color: #ff0000;
    margin: 35px auto auto 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase; }
  .fileUploader .debug {
    color: #ff0000;
    text-align: center; }

/*# sourceMappingURL=fileUploader.css.map */
