@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* Custom */
#membership {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 40px;
    background:#FFF;
}

.reg-form {
    margin-top: 40px;
}

.btn-register {
    float:right;
}

/*generic*/
h1,h2,h3,h4,h5{
    font-family: 'Oxygen', sans-serif;
}
a,p{
    font-family: 'Oxygen', sans-serif;
}
button{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    border-radius:0px;
    border:0px;
    text-shadow:0px !important;
}
section{
    padding: 25px 0;
}
section.slider{
    padding:0;
}
.btn-submit{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    border-radius:0px;
    border:0px;
    background: #2da1d8;
    color: #fff;
    padding:15px 25px;
    box-shadow: none;
}
.btn-action{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    border-radius:0px;
    border:0px;
    background: #2da1d8;
    color: #fff;
    box-shadow: none;
    text-shadow:0px !important;
}
.btn-warning{
    border-radius:0px;
}
.btn-cancel{
    color:#a1a1a1;
}
#btn-action{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    border-radius:0px;
    border:0px;
    background: #2da1d8;
    color: #fff;
    box-shadow: none;
    text-shadow:0px !important;
}
.btn-default{
    text-shadow:0px !important;
}
.section-intro{
    font-family: 'Oxygen', sans-serif;
    color: #a1a1a1;
    text-align: center;
    padding:20px 15%;
}
.intro-line{
    background: #2da1d8;
    height:2px;
    width:100px;
    margin:0 auto;
    margin-top:25px;
    margin-bottom:25px;
}
#accordion .btn-default .btn-action{
    box-shadow: none;
    text-shadow:0px !important;
}
.inactive{
    color: #eb594e;
}
.activated{
    color: #79ba9c;
}

/*nav*/
nav{
    background: rgba(255,255,255,.8);
    padding:15px 0 25px 0;
    border-bottom:1px solid #a1a1a1;
}
#navbar{
    margin:0;
}
.navbar-nav{
    padding-top: 10px;
}
#navbar li a{
    font-family: 'Oxygen', sans-serif;
    color: #337ab7;
}
#navbar li a:hover{
    background: none;
    color:#888;
}
.navbar p span.separator{
    font-family: 'Oxygen', sans-serif;
    color: #337ab7;
}
.registration-header{
    padding:0;
    margin:0;
    color: #337ab7; 
}

/*input*/
select,
input[type]{
    border-radius: 0px;
    box-shadow: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    height: 33px;
}
textarea,
select{
    border-radius: 0px !important;
}
input[type="radio"],
input[type="checkbox"]{
    height: auto;
    border-radius:0px;
}
select:focus,
input[type]:focus{
    border-radius: 0px;
    border-color: none;
    box-shadow: none;
}


/*slider*/
.slider{
    height: auto;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
.carousel .item{
    min-height: 700px;
    overflow: hidden;
}
.carousel-inner > .item{
    min-height: 700px;
    width:100%;
    position: relative;
    z-index: 1;
}
.carousel-inner > .item img{
    width:100%;
    min-height: 700px;
    background-position: 50% 50%;
    bottom: -20%;
    position: absolute;
}
.overlay{
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0 !important;
    z-index: 0;
    height: 100%;
    position: absolute;
    width: 100%;
    top:0;
}
.carousel-caption{
    top:35%;
    z-index: 16;
}
.carousel-caption h1{
    font-size:60px;
    font-family: 'Montserrat', sans-serif;
}
.carousel-caption a.btn-submit{
    font-size:20px;
    margin-top:10px;
    font-family: 'Montserrat', sans-serif;
}

/*modal*/
#wizard-modal{
    padding: 0 !important;
}
.modal-header{
    height: 40px;
    border:0px;
}
.modal-dialog {
    height: 100%;
    margin: 0;
    border-radius: 0px;
    width: 100%;
    background: #fff;
}
.modal-body{
    height: auto;
    width: 105%;
}
.modal-header,
.modal-content{
    border-radius: 0px;
    box-shadow: none;
    border:0px;
}

/*wizard*/
#wizard{
    padding:15px 15%;
}
.wizard > .steps li.current .number{
    color: #fff;
}
.wizard > .steps > ul > li{
    width: auto !important;
}
.wizard p{
    color: #a1a1a1;
}
.wizard > .content > .body{
    background: #fff;
    padding:0 !important;
    position: relative !important;
}
.wizard > .content > .body label{
    border-radius:0px;
}
.wizard > .content{
    background: #fff !important;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active{
    background: #2da1d8 !important;
    border-radius:0px;
    padding-left:30px;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active{
    margin:0;
    padding-left:30px;
}
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active{
    background: #a1a1a1 !important;
    color: #e7e7e7 !important;
    padding-left:30px;
}
.wizard > .steps .done a span.triangle, .wizard > .steps .done a:hover span.triangle, .wizard > .steps .done a:active span.triangle{
    border-left: 28px solid #0d81b8;
}
.wizard > .steps .disabled a span.triangle, .wizard > .steps .disabled a:hover span.triangle, .wizard > .steps .disabled a:active span.triangle{
    border-left: 28px solid transparent;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active{
    padding-left:30px !important;
    background: #0d81b8 !important;
}
.wizard > .steps > ul > li, .wizard > .actions > ul > li{
    margin-right:0;
}
.wizard > .actions a, .wizard > .actions a:hover, .wizard > .actions a:active{
    background: #2da1d8 !important;
    padding: 5px 15px !important;
}
.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active{
    color: #fff !important;
}
#wizard h4{
    color: #a1a1a1;
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
}
.triangle {
    border-bottom: 28px solid transparent;
    border-left: 28px solid #2da1d8;
    border-top: 28px solid transparent;
    height: 0;
    position: absolute;
    right: -21px;
    top: 0;
    width: 0;
    z-index: 2;
}
#wizard label{
    font-family: 'Oxygen', sans-serif;
    font-weight: 300;
    color: #a1a1a1;
}
.wizard .theme-picture{
    position: relative;
}
.wizard .theme-description{
    padding: 0;
    position: absolute;
    right: 0;
    bottom: 0px;
}
.theme-description button{
    background: rgba(0,158,227,.5);
    color: #fff;
    border:0px;
    border-radius: 0px;
    text-shadow:none;
    box-shadow:none;
}
.theme-description button:hover{
    color: #a1a1a1;
}
.panel-heading{
    border-radius:0px;
}
.panel-group .panel{
    border-radius:0px;   
}

/*marketing pitch area*/
.marketing-pitch-area{
    padding:25px 0;
}
.excess-pitch{
    margin:0 auto;
    margin-top:15px;
    clear: both;
}
.icon-image{
    font-size:3em;
    text-align: center;
    color: #a1a1a1;
    position: relative;
}
.description{
    text-align: center;
    color: #a1a1a1;
}
.description h4{
    color: #a1a1a1;
    font-family: 'Oxygen', sans-serif;
    margin-top:25px;
}
.diamond {
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-bottom-color: #2da1d8;
    position: absolute;
    top: -70px;
    z-index: -1;
    margin-left:-50px;
    visibility: hidden;
    opacity:0;
    transition:all .5s;
}
.diamond:after {
    content: '';
    position: absolute;
    left: -50px;
    top: 49px;
    width: 0;
    height: 0;
    border: 50px solid transparent;
    border-top-color: #2da1d8;
}
/*.icon-image:hover{
    color: #fff;
    transition:all .5s;
}
.icon-image:hover p .diamond{
    visibility: visible;
    opacity:1;
    transition:all .5s;
}*/
.marketing-item:hover .description{
    position: relative;
    top:25px;
    animation-name:marketing;
    animation-duration:.5s;
}
.marketing-item:hover i{
    color: #fff;
    transition:all .5s;
}
.marketing-item:hover p .diamond{
    visibility: visible;
    opacity:1;
    transition:all .5s;
}
@keyframes marketing{
    0%{
        top:0;
    }
    100%{
        top:25px;
    }
}

/*customer reviews area*/
.customer-reviews-area{
    background: #009EE3;
}
.review-title{
    color: #fff;
    text-align: center;
}

/*testimonial area*/
#testimonial{
    padding:0 0 25px;
}
#testimonial p,
#testimonial h3{
    color: #fff;
}
#testimonial p{
    padding:0 10%;
}
#testimonial h3,
#testimonial h4{
    padding:0;
    color: #fff;
}
#testimonial img{
    border: 3px solid #fff;
    border-radius: 50%;
    display: inline-block;
    height: 100px;
    max-width: 100px;
}
.customer-reviews-area .intro-line{
    background: #fff;
    height:2px;
    width:100px;
    margin:0 auto;
    margin-top:25px;
    margin-bottom:25px;
}
.owl-theme .owl-controls .owl-buttons div {
    border-radius: 0 !important;
    background: none !important;
    border:1px solid #fff;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    opacity: 0.5;
    padding: 3px 10px;
}