/**
* Liondesk dashboard page styles
*
* Author: Jovanni G;
* Author URL: http://jovanni.mousbook.com;
*/

#magictable .table{
  border: 1px solid rgba(0,0,0,0.1);
}
#magictable .table thead tr{
  background-color: #EEEEEE;
}
#magictable .table tbody tr:hover,
#tasks table tbody tr:hover{
  cursor: pointer;
  background-color: #d8e5ec;
}
#magictable .table tbody tr[active],
#tasks table tbody tr[active]{
  color: white;
  background-color: #3c8dbc;
  pointer-events: none;
}
#magictable{
  display: block;
  width: 100%;
}
#magiccontact{
  display: flex;
  max-width: 750px;
  float: right;
  width: 0%;
  overflow-x: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
#magiccontact.show{
  width: 100%;
}
#contact-details{
  margin: 0 10px;
    padding: 15px;
    background-color: #eee;
    border-radius: 5px;
    max-width: 750px;
    width: 100%;
}
.tab-pane{
  min-height: 350px;
  background-color: white;
  display: none;
  position: relative;
}
.tab-pane.active{
  display: block;
  border: 1px solid rgba(0,0,0,0.15);
    border-top: none;
}
.btn-close{
  background-color: transparent;
  border: none;
  position: relative;
    text-align: center;
    width: 25px;
    height: 25px;
    padding: 0;
}
.btn-close:before,
.btn-close:after{
  content: '';
  width: 2px;
  height: 22px;
  display: inline-flex;
  background-color: #888;
}
.btn-close:before{
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: -1px;
}
.btn-close:after{
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: -1px;
}
.btn-close:focus, .btn-close:visited{
  outline: none;
}
.btn-close:hover{}
.custom-contents{
  list-style: none;
  padding: 0;
}
#tasks table tbody tr{}
#tasks table tbody tr:hover{
  cursor: pointer;
}
#task-detail{
  width: 0;
  background-color: #f2f2f2;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 10px;
  overflow-x: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
#task-detail.show{
  width: 100%;
  overflow-y: auto;
}

#task-detail p span {
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}

#task-detail h4 {
    margin-bottom:  20px;
    text-transform: uppercase;
}

.lead-info {
    padding: 10px;
}

#task-detail p,
.lead-info p  {
   font-size: 14px;
}
.lead-info p span {
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}
