/*
  page: marketing codes
*/

main{
  padding: 40px 0 30px;
}
main textarea{
  max-width: 700px;
}
.content .controls{
  padding: 5px 30px;
}
button.btn.btn-darkblue{
  background-color: #415fa7;
  box-shadow: 0 4px #273f79;
}
button.btn.btn-darkblue:focus{
  transform: initial;
}
button.btn.btn-darkblue:active{
  transform: translateY(3px);
  box-shadow: 0 1px #273f79;
}
[field-type="multiple-checkbox"] .col-md-4{
  margin-bottom: 10px;
}
[field-type="multiple-checkbox"] label:hover{
  cursor: pointer;
}
[data-lock] label{
  pointer-events: none !important;
}
[data-lock] input[type="checkbox"][data-choice] + label[for]:after{
  content: none;
}

.selected ul{
  display: block;
  padding: 0;
  list-style: none;
}
.selected ul li{
  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  margin: 2px;
  background-color: #F2F2F2;
  line-height: 1.5;
  overflow: hidden;
  padding-right: 23px;
  position: relative;
}
.selected ul li button{
  width: 18px;
  height: 18px;
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: calc(50% - 9px);
  right: 0;
}
.selected ul li button:before,
.selected ul li button:after{
  content: '';
  width: 2px;
  height: 60%;
  background-color: red;
  display: block;
  position: absolute;
  top: calc(50% - 5px);
}
.selected ul li button:before{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.selected ul li button:after{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.lock-field{
  pointer-events: none !important;
  cursor: normal !important;
  background-color: #DDD;
}
.lock-field + label{
  pointer-events: none !important;
  cursor: normal !important;
}
.selected ul li span:first-child{
  padding: 4px 10px;
  display: inline-block;
  margin-right: 8px;
  background-color: #415fa7;
  color: white;
}

#global-search-filters input[type="checkbox"]:checked,
#gsf-standard input[type="checkbox"]:checked{
  pointer-events: none;
}
.gsf .panel-heading[data-toggle="collapse"]{
  position: relative;
}
.gsf .panel-heading[data-toggle="collapse"]:after{
  content: '';
  width: 12px;
  height: 12px;
  border-bottom: 2.2px solid #BBB;
  border-right: 2.2px solid #BBB;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: 15px;
  top: calc(50% - 8px);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.gsf .panel-heading[data-toggle="collapse"].open:after{
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: 4px;
}
