
label {
	color: #444;
    font-weight: 600;
}
.table td p{
	margin:0;
}
.table .modal a{
	color:#fff;
}
.media-file-url input{
	background-color: #eee;
	width:95%;
	border: 1px solid #d2d6de;
    padding-left: 2px;
}
.page-actions span{

	color: #444;
    font-weight: 600;
}
.media-icon{
	margin-top:5px
}
.max-upload{
	position: absolute;
    top: 190px;
    color: #777;
    font-size: 14px;
}
.allowed-type{
	position: absolute;
    top: 210px;
    color: #777;
    font-size: 14px;
}
.media-upload ul{
	margin-top: 55px!important;
}
.media-upload span{
	font-weight:600;
}
.no-media{
	text-align:center;
	padding:20px;
	font-size:16px;
}
.media-file-info p {
	font-size: 14px;
}
.media-file-info span {
	font-weight: 600;
}
.view-switch{
	position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}
.view-switch a{
	margin-left: 5px;
	color: #b4b9be!important;
}
.view-switch a.current {
    color: #0073aa!important;
}
input.grid-checkbox{
	width: 18px!important;
	height: 15px!important;
}
.media-grid-actions{
	display: none;
    width: 100%;
    height: 100%;
    /*background: rgba(140, 140, 140, 0.62);*/
    position: absolute;
    padding-top: 20%;
}
.display-checkbox .media-grid-actions{
	display:block;
}
.table-media-list tbody tr {
    height: 100px;
}
.media-grid-actions .btn {
    width: 55px;
    display: inline-block;
    color: #fff;
}
.btn-action {
    margin: 10px auto;
    display: block;
    width: 68%;
}
.btn-action-2 {
    margin: 10px auto;
    display: block;
    width: 100%;
    text-align: center;
}
.media-grid-actions .btn-selected {
    width: 100px;
    display: block;
    margin: 0 auto;
    background: #0bdf0b;
}

.btn-selected span {
    margin-left: 15px;
}

.media-grid-actions .btn-view {
    background-color: #00578f;
}

.media-grid-actions .btn-edit {
    background-color: #ffa200;
}

.media-grid-actions .grid-checkbox {
    visibility: hidden;
}
.media-hover-actions{
    height: 70px!important;
}

.media-list-action a{
	font-size:14px;
}
.show-grid-actions{
	display:block!important;
}
.media-list-action{
	display:none;
}
.media-hover-actions:hover .media-list-action{
    display:block;
}

.media-delete{
	color: #a00;
}
.media-delete:hover{
	color: red;
}
.list-item {
    padding-left: 0;
    margin-bottom: 0;
}
.list-item-grid {
    float: left;
    list-style: none;
    width: 170px;
    height: 170px;
    box-sizing: border-box;
    display: inline-block;
    margin: 10px;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
    box-shadow: inset 0 0 15px rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.05);
    background: #eee;
    cursor: pointer;
    position: relative;
}

.list-item-grid:hover .media-grid-actions {
    display: block;
}
.list-item-grid .item-grid {
    overflow: hidden;
    text-align: center;
    width: 170px;
    height: 170px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    border: 4px solid transparent;
}

.media-selected .item-grid {
    border: 4px solid #00a65a;
}

.list-item-grid img {
    height: 100%;
    width: 100%;
}

.media-grid-actions .ischeckbox {
    width: 100%;
    height: 100%;
    /*visibility: hidden;*/
}

.ischeckbox .modal-checkbox {
    visibility: hidden;
}

#insertMedia .media-grid-actions {
    padding-top: 0;
    display: block;
}

.media-grid-actions .checked {
    padding: 5px 10px;
    background-color: #00a65a;
    color: #fff;
    float: right;
    display: none;
}
.media-grid-actions .select {
    display: block;
    width: 100%;
    height: 100%;
}
@media only screen and (min-width : 240px) and (max-width : 552px) {
    .media-list-action{
        display:block;
    }
    .media-grid-view .btn-group,
    .media-list-view .btn-group {
        margin-bottom: 7px;
    }

    .list-item-grid {
        width: 45%;
        height: 120px;
        margin: 5px;
    }

    .list-item-grid .item-grid {
        width: 100%;
        height: 120px;
        padding: 0px;
    }

    .media-grid-actions {
        padding-top: 12%;
    }
    .media-grid-actions .btn {
        width: 50px;
        margin-left: 4px;
    }
    .media-grid-actions .btn-selected {
        width: 100px;
        margin: auto;
    }
    .btn-action {
        width: 100%;
        text-align: center;
    }

    .image-details {
        clear: both;
        padding: 35px;
    }
}

@media only screen and (min-width: 553px) and (max-width: 773px)  {
    .media-details {
        padding: 10px;
        clear: both;
    }

    .image-details {
        clear: both;
    }

    .image-details h3 {
        padding: 10px;
    }

    .dashboard-date {
        margin: 0;
    }

    .dashboard-date .form-group {
        width: 50%;
    }

    .dashboard-date .form-group
     input {
        width: 100% !important;
    }

    .dashboard-date button {
        margin: 0 !important;
        width: 15%;
        display: inline-block;
        margin-top: 10px !important;
    }

    .label-list {
        /* display: inline; */
        /* text-align: left; */
        width: 50%;
    }

    .label-list li {
        text-align: left;
    }

    .btn-graph {
        width: 40%;
        float: left;
        bottom: 0;
        right: 0;
    }
}

@media only screen and (max-width : 640px) and (orientation:landscape){

}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait){
    .list-item-grid {
        width: 160px;
    }
    
    .image-details {
        clear: both;
        padding: 35px;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation: landscape) { 
    .list-item-grid {
        width: 160px;
    }
}