@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700);
@import url(https://fonts.googleapis.com/css?family=Cookie);

/*generic*/
body{
	height: 100%;
	overflow-x:hidden;
}
hr{
	margin:0;
	padding: 0;
	border-color:#f7f7f7;
}
a{
	color: #1BBC9B;
}
a:hover{
	color: #ddd;
	text-decoration: none;
}
h1,h2,h3,h4,h5,li,p,td,a,i{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	margin:0;
	padding: 0;
}
p,label,h1,h2,h3,h4,h5,li,td{
	color: #aaa;
}
a.btn,
button.btn{
	border-radius:3px;
	box-shadow: none;
	text-shadow:none;
	background-image: none;
	background-color: #1BBC9B;
	color: #fff;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	border:0px;
}
a.btn:hover,
button.btn:hover{
	background: #4c4c4c;
	color: #f7f7f7;
	transition:all .2s ease-in;
}
button.btn{
	border-radius:3px;
	box-shadow: none;
	text-shadow:none;
	background-image: none;
	background-color: #1BBC9B;
	color: #fff;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	border:0px;
}
.form-group label{
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
}
input.form-control,
select.form-control{
	border-radius:0px;
	border:0px;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #aaa;
}
img{
	max-width: 100%;
}
textarea{
	border:1px solid #ddd;
	border-radius:0px;
}
textarea:focus{
	box-shadow: none;
}
.scroll-to-top{
    background: #1bbc9b;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #fff;
    display: none;
    height: 50px;
    left: 95%;
    line-height: 4;
    padding: 0 5px;
    position: fixed;
    text-align: center;
    top: 95%;
    width: 50px;
    z-index: 1051;
    cursor: pointer;
}
.scroll-to-top a{
    color:#fff;
}
.scroll-to-top i{
    font-size:30px;
}

/*top links*/
.top-links{
	padding:5px 0 5px 0;
	background: #1BBC9B;
	position: relative;
	z-index: 1050;
}
.top-links li{
	color: #fff;
}
.top-links li a{
	color: #fff;
	font-family: 'Josefin Sans', sans-serif;
}

/*nav*/
.navbar{
	margin-top:30px;
	min-height: 100px;
	background: #fff;
	border-bottom:1px solid #f7f7f7;
	transition:all .2s ease-out;
}
.navbar-brand{
	height: 75px;
	padding:15px 15px 0 15px;
	line-height: 70px;
}
.tagline{
	margin:0;
	padding: 0;
	font-family: 'Cookie', cursive;
	font-size:14px;
}
.navbar-brand img{
	max-width: 60%;
}
.navbar-nav{
	height: 100px;
	padding-top:25px;
}
.main-menu li.active a{
	color: #1BBC9B;
}
.main-menu li a{
	font-family: 'Josefin Sans', sans-serif;
	color: #a1a1a1;
}
.main-menu li a:hover{
	background: none;
	color: #1BBC9B;
}
.sticky {
    position:fixed;
    top:0;
    margin:0;
}

/*slider*/
.slider-area{
	height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 0px;
}
#slider{
	position: relative;
	width:100%;
}
#slider:hover > .customNavigation{
	opacity: 1;
}
.slider-item{
	min-height: 700px;
    width:100%;
    position: relative;
    z-index: 1;
}
.slider-item img{
	width:100%;
    min-height: 700px;
    background-position: 50% 50%;
    top: 5%;
    position: absolute;
}
.slider-item .col-md-12{
	position: absolute;
    top: 500px;
    z-index: 1000;
}
.slider-item .caption{
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0;
    bottom: 0;
    left: 2%;
    width: 450px;
    height: auto;
    position: absolute;
    z-index: 100;
}
.slider-item .caption .slider-title{
	background: rgba(221,221,221,.8);
	padding:10px 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.slider-item .caption h3{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.slider-details{
	padding: 15px;
}
.slider-details:before,
.slider-details:after{
	clear: both;
	display: table;
	content: "";
}
.slider-details h4.slider-price{
	color: #666;
}
.slider-details ul{
	margin:5px 0 5px 0;
	padding:0;
	list-style-type: none;
}
.slider-details ul li{
	margin:0 5px;
	padding:0;
	clear: both;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #666;
}
.slider-details p{
	margin:5px 0 0 0;
	color: #666;
}
.slider-details ul li:before,
.slider-details ul li:after{
	clear: both;
	display: table;
	content: "";
}
.customNavigation{
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 1;
    width:100%;
    opacity: 1;
}
.customNavigation a{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.customNavigation a.prev{
	position: absolute;
	left: 15px;
	color: #666;
	border-radius:50%;
	background: rgba(255,255,255,.5);
}
.customNavigation a.next{
	position: absolute;
	right: 15px;
	color: #666;
	border-radius:50%;
	background: rgba(255,255,255,.5);
}
.customNavigation a i{
	font-size:25px;
	height: 25px;
    width: 15px;
}
/*.agent-slider-area{
	background: rgba(255,255,255,.5);
}
.slider-item img.agent-slider{
	min-height:auto;
	height:150px;
	width: 150px;
	position: absolute;
	top:500px;
}*/

/*section*/
section{
	padding:25px 0;
	margin:25px 0;
}
.section-title{
	color: #aaa;
	padding:5px 0;
	font-family: "Josefin Sans",sans-serif;
	font-weight: 300;
}

/*featured property*/
.property-item{
	position: relative;
	border-bottom:1px dashed #e3e3e3;
	padding-bottom:15px;
	margin:15px 0;
	/*height: 400px;*/
}
.property-item:before,
.property-item:after{
	clear: both;
	display: table;
	content: "";
}
.property-listing-price{
	position: absolute;
	top:150px;
}
.property-listing-type{
	background: #1BBC9B;
	color: #fff;
	padding:5px 15px;
	width:100px;
}
.page-content .property-listing-type p,
.property-listing-type p{
	color: #fff;
	margin-bottom:0;
}
.property-image{
	height: 250px;
    overflow: hidden;
}
.property-image img{
	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.listing-price{
	background: rgba(255,255,255,.7);
	padding:5px 15px;
	width:130px;
}
.page-content .listing-price p,
.listing-price p{
	color: #6a6a6a;
	margin-bottom: 0;
}
.property-listing-description{
	color: #aaa;
	padding:15px 0;
}
.property-listing-description h4{
	min-height: 40px;
}
.property-listing-description a{
	text-decoration: none;
}
.property-listing-description a:hover{
	color: #ddd;
}
.property-listing-description h4.heart-container{
	min-height:20px;
}
a.favorite{
	color: #eb594e;
}

/*agent info area*/
.agent-info-area{
	background: #1BBC9B;
	margin-bottom:0px;
}
.agent-info-area h4{
	color: #f7f7f7;
}
.agent-info-area h2{
	color: #f7f7f7;
	margin:5px 0 15px 0;
}
.agent-image{
	color: #f7f7f7;
}
.agent-image img{
	border-radius:3px;
	border:1px solid #f7f7f7;
}
.agent-image p{
	color: #f7f7f7;
	margin:5px 0;
}
.license-info{
	margin:5px 0;
	padding:0 15px;
}
.license-info li{
	color: #f7f7f7;
}
.agent-contact-details{
	margin:15px 0 0 0px;
	padding:0;
	list-style-type:none;
}
.agent-contact-details li{
	margin:0;
	padding:0;
	color: #fff;
}
.agent-contact-details li i{
	background: #4c4c4c;
    border-radius: 25%;
    color: #f7f7f7;
    height: 28px;
    line-height: 29px;
    margin-right: 7px;
    text-align: center;
    width: 28px;
}
.agent-contact-details li a{
	color: #f7f7f7;
}
.agent-social .fa-facebook{
	background: #3A5795;
    border-radius: 50%;
    color: #f7f7f7;
    height: 28px;
    line-height: 29px;
    margin-right: 7px;
    text-align: center;
    width: 28px;
}
.agent-social .fa-twitter{
	background: #2FC2EF;
    border-radius: 50%;
    color: #f7f7f7;
    height: 28px;
    line-height: 29px;
    margin-right: 7px;
    text-align: center;
    width: 28px;
}
.agent-social .fa-google-plus{
	background: #D73D32;
    border-radius: 50%;
    color: #f7f7f7;
    height: 28px;
    line-height: 29px;
    margin-right: 7px;
    text-align: center;
    width: 28px;
}
.agent-social .fa-linkedin{
	background: #1C87BD;
    border-radius: 50%;
    color: #f7f7f7;
    height: 28px;
    line-height: 29px;
    margin-right: 7px;
    text-align: center;
    width: 28px;
}
.agent-info-area .property-listing-description:before,
.agent-info-area .property-listing-description:after{
	clear: both;
	display: table;
	content: "";
}
.agent-info-area .property-listing-description{
	background: rgba(69, 60, 60, 0.9);
	padding: 15px;
	min-height: 210px;
}
.agent-info-area .property-listing-description h4{
	color: #fff;
	height: 25px;
	max-width: 100%;
	overflow: hidden;
	line-height: 18px;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.agent-info-area .property-listing-description h4.address a{
	color: #fff;
	border:0;
}
.agent-info-area .property-listing-description a{
	color: #fff;
	background: none;
	border:1px dashed #fff;
}
.agent-info-area .property-listing-description p{
	color: #fff;
	font-weight: 400;
	height: 25px;
	max-width: 100%;
	overflow: hidden;
	line-height: 18px;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.agent-info-area .property-listing-description p.pull-right{
	height: auto;
}
.agent-info-area .property-quick-icons li{
	color: #fff;
}
.agent-info-area .property-item{
	border-bottom:0;
}
.agent-info-area .property-image{
	height: 200px;
}
.agent-info-area .property-listing-price{
	top:115px;
	border-left:1px solid #fff;
}
.agent-info-area .owl-carousel .owl-wrapper-outer{
	margin-top:15px;
}
.agent-info-area .owl-theme .owl-controls .owl-page span{
	background: #fff;
}
.agent-info-area .owl-theme .owl-controls .owl-page span.owl-numbers{
	color: rgb(69, 60, 60);
}

/*footer*/
footer{
	padding:25px 0;
	background: #2D2E30;
	position: relative;
	z-index: 1050;
}
footer h4{
	color: #f7f7f7;
}
.social-icons i{
	background: #f7f7f7;
    border-radius: 50%;
    color: #333;
    height: 28px;
    line-height: 29px;
    margin-right: 7px;
    text-align: center;
    width: 28px;
}
.social-icons i:hover{
	background: #1BBC9B;
	color: #fff;
	transition:all .2s ease-out;
}

/*search area*/
.search-area{
	margin-top:0px;
	background:#1BBC9B; 
}
.search-area .section-title{
	color: #f7f7f7;
}
.search-area input.form-control{
	border:1px solid #e3e3e3;
}
.search-area label{
	color: #f7f7f7;
}
.search-area select{
	color: #aaa;
}
.search-area button{
	background: #f7f7f7;
	border-radius:0px;
	border:0px;
	color: #aaa;
	margin-top:24px;
	padding:8px 25px 7px 25px;
	font-family: 'Josefin Sans', sans-serif;
	box-shadow: none;
	text-shadow:none;
}
.selectize-input{
	border-radius:0px !important;
	border:1px solid #ddd !important;
}
.selectize-input input{
	font-family: "Roboto",sans-serif !important;
	font-weight: 300 !important;
}
select.form-control{
	background-color: white;
	border: 0px;
	border-radius: 0px;
	display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
	background-image: url("../img/home/caret-down.png");
	margin: 0;      
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-position:
		calc(100% - 20px) calc(1em + 2px),
		calc(100% - 15px) calc(1em + 2px),
		100% 0;
	background-size:
		5px 5px,
		5px 5px,
		2.5em 2.5em;
	background-repeat: no-repeat;
	font-family: "Roboto",sans-serif !important;
	font-weight: 300 !important;
}
.selectize-dropdown, .selectize-dropdown.form-control,
.selectize-control.multi .selectize-input > div{
	border-radius:0px !important;
	font-family: "Roboto",sans-serif !important;
	font-weight: 300 !important;
}
.more-filters{
	display: none;
}
.more-filter-title{
	margin-top:25px;
}
.more-filter-title:before,
.more-filter-title:after{
	clear: both;
	display: table;
	content: "";
}
.btn-more-filters i{
	font-size: 9px;
    margin-top: 3px;
    padding-left: 10px;
    position: absolute;
}
.filter-panel-container:before,
.filter-panel-container:after{
	clear: both;
	content: "";
	display: table;
}
.filter-panel-container{
	margin-top:15px;
}
.more-filters h4,
.more-filters h3{
	color: #fff;
	font-family: "Roboto",sans-serif;
}
.btn-close-more{
	font-size:20px;
}
.radio label, 
.checkbox label{
	font-family: "Roboto",sans-serif;	
}

/*calculation area*/
.calculation-area input,
.calculation-area textarea{
	border:0px;
	border-bottom:1px dashed #ddd;
	box-shadow: none;
}
.calculation-area textarea{
	border:1px dashed #ddd;
	border-radius:0px;
}
.calculation-area input:focus,
.calculation-area textarea:focus{
	box-shadow: none;
	border-color:#1BBC9B;
}
.calculation-panel label{
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	color: #aaa;
}
.calculation-panel{
	padding: 15px;
}
.calculation-panel h3{
	color: #aaa;
	margin-bottom: 50px;
}
.calculation-panel form:before,
.calculation-panel form:after{
	clear: both;
	display: table;
	content: "";
}
.total-mortgage{
	margin:15px 0;
	color: #aaa;
}

/*find a home*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/home/reload.gif') 50% 50% no-repeat rgba(255,255,255,.3);
}
.property-listings{
	margin-top:85px;
	min-height: 700px;
}
#sidebar{
	position: relative;
	display: block;	
}
.filter-sidebar{
	margin:0 0 0 0;
	padding:50px 0 0 0;
	width: 50px;
	position: fixed;
	top:0px;
	background: #fff;
	border-right:1px solid #ddd;
	margin-bottom:-5000px;
	padding-bottom: 5000px;
	overflow: hidden;
	z-index: 1049;
	transition:all .2s ease-in;
	display: block;
}
.show-filter-icon{
	margin-right:15px;
	margin-bottom:15px;
}
.filter-sidebar.inactive{
	width: 50px;
	transition:all .2s ease-in;
}
.filter-sidebar.active{
	width: 225px;
	transition:all .2s ease-in;
}
.filter-sidebar select.form-control{
	border:1px solid #ddd;
	box-shadow: none;
}
.filter-fields{
	display: block;
}
.filter-icon:focus{
	color: #1BBC9B;
}
.property-listings label{
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	color: #aaa;
}
.property-listings select{
	border:1px solid #ddd;
	box-shadow: none;
	color: #aaa;
}
.property-map{
	height: 0;
	visibility: hidden;
	margin-bottom:-50px;
}
.toggle-map{
	height:auto;
	visibility:visible;
}
.landscape-filter-property{
	display: none;
}
.pagination-area .pagination > li > a,
.pagination-area .pagination > li > span{
	border:0px;
	color: #aaa;
	border-radius:3px;
}
.pagination-area .pagination > li:first-child > a,
.pagination-area .pagination > li:last-child > a{
	border-radius:0px;
}
.pagination-area .pagination > li.active > a{
	background: #1bbc9b;
	color: #f7f7f7;
	border-radius:3px;
}
.property-listings input{
	border:1px solid #ddd;
}
.property-listings input:focus,
.property-listings select:focus{
	box-shadow: none;
}
.filter-sidebar input,
.more-filter-area select{
	border:1px solid #ddd;
}
.filter-sidebar input:focus,
.more-filter-area select:focus{
	box-shadow: none;
	border-color: #ddd;
}
.filter-sidebar .search-field{
	margin-bottom: 15px;
}
.filter-sidebar .search-field input{
	height: 32px;
}
.more-filter-area{
	display: none;
    left: 225px;
    position: fixed;
    top: 0;
    width: 500px;
    border-right:1px solid #ddd;
	margin-bottom:-5000px;
	padding-bottom: 5000px;
	padding-top: 50px;
	margin-top:0;
	overflow: hidden;
    z-index: 1045;
    background: #fff;
}
.property-listings .owl-theme .owl-controls .owl-page span{
	background-color: #1bbc9b;
}
.more-filters-button{
	margin-top:15px;
}
.more-filters-button:before,
.more-filters-button:after,
.find-property-button:before,
.find-property-button:after{
	clear: both;
	display: table;
	content: "";
}
.apps:before,
.apps:after{
	clear: both;
	display: table;
	content: "";
}
.apps{
	margin-top:25px;
}
.apps a:hover i{
	background-color: #333;
	transition:all .5s;
}
.apps i{
	background: #1bbc9b;
    border-radius: 50%;
    color: #fff;
    height: 50px;
    font-size:30px;
    line-height: 50px;
    margin-right: 7px;
    text-align: center;
    width: 50px;
}
.apps h4{
	margin-bottom:15px;
	text-align: center;
}
.other-options-area{
	display: none;
    left: 225px;
    position: fixed;
    top: 0;
    width: 500px;
    border-right:1px solid #ddd;
	margin-bottom:-5000px;
	padding-bottom: 5000px;
	padding-top: 50px;
	margin-top:0;
	overflow: hidden;
    z-index: 1045;
    background: #fff;
}
.other-options-area .calculation-panel{
	display: none;
}
.other-options-area .calculation-panel input,
.other-options-area .contact-panel input,
.other-options-area .contact-panel textarea{
	border:1px solid #ddd;
	border-radius:0px;
}
.other-options-area .calculation-panel input:focus,
.other-options-area .contact-panel input:focus,
.other-options-area .contact-panel textarea:focus{
	box-shadow: none;
}
.no-results-area:before,
.no-results-area:after{
	clear: both;
	display: table;
	content: "";
}
.no-results-area{
	background: #f7f7f7;
	position: relative;
	padding:50px 0;
	margin:15px 0;
	text-align: center;
	display: block;
}
.not-found{
	font-size:100px;
	text-align: center;
}
.property-quick-icons:before,
.property-quick-icons:after{
	clear: both;
	display: table;
	content: "";
}
.property-quick-icons{
	padding:15px 0;
	min-height: 70px;
}
.property-type-panel{
	display: none;
}
#residential{
	display: block;
}
.all-filters{
	display: none;
    left: 225px;
    position: fixed;
    top: 0;
    width: 900px;
    border-right:1px solid #ddd;
	margin-bottom:-5000px;
	padding-bottom: 5000px;
	padding-top: 50px;
	margin-top:0;
	overflow: hidden;
    z-index: 1045;
    background: #fff;
}
.all-filter-panel{
	height: 250px;
	margin:0 0 15px 0;
}
.long-filter-panel{
	height: 250px;
	overflow-y: scroll;
}

/*buyer*/
.property-details{
	margin:50px 0;
}
.property-details h4{
	padding:15px 0 15px 0;
}


/*generic page*/
.page-content{
	margin-top:100px;	
}
.page-content select{
	border-bottom:1px dashed #ddd;
	box-shadow: none;
	color: #aaa;	
}
.page-content input{
	border-bottom:1px dashed #ddd;
	box-shadow: none;
	color: #aaa;
}
.page-content input:focus,
.page-content select:focus{
	border-bottom:1px dashed #1bbc9b;
	box-shadow: none;
	color: #aaa;
}
.page-content textarea:focus{
	box-shadow: none;
	border-color:#1bbc9b;
	color: #aaa;	
}
.page-content textarea{
	border:1px dashed #ddd;
	border-radius:0px;
	font-family: "Roboto",sans-serif;
	font-weight: 300;
	color: #999;
}
.page-content .page-title{
	margin-bottom:15px;
}
.page-content p{
	margin-bottom:15px;
}

/*blog page*/
.right-sidebar-panel{
	margin:15px 0;
}
.right-sidebar-panel:before,
.right-sidebar-panel:after{
	clear: both;
	display: table;
	content: "";
}
.recent-blogs{
	margin:5px 0;
	padding:0;
	list-style-type: none;
}
.recent-blogs span{
	font-size:12px;
}
.recent-blogs span.badge{
	background: #1BBC9B;
	color: #f7f7f7;
	padding: 2px 5px;
	margin-left:15px;
}
.right-sidebar-panel input,
.right-sidebar-panel select,
.right-sidebar-panel textarea{	
	border:1px solid #ddd;
}

/*blog list*/
.blog-listings{
	list-style-type: none;
	margin:0;
	padding:0;
}
.blog-listings li{
	margin:15px 0;
	padding: 15px;
	border-bottom:1px dashed #ddd;
}
.blog-listings li:before,
.blog-listings li:after{
	clear: both;
	display: table;
	content: "";
}
.blog-title a{
	text-decoration: none;
}

/*contact*/
.contact-agent-image{
	margin:15px 0;
}

/*property detail page*/
.flex-direction-nav a::before{
	font-size:30px !important;
}
.flex-viewport{
	max-height:400px !important;
}
.flexslider{
	margin:0 0 25px !important;
}
.slides .slide li,
#carousel .slides li{
	height: 130px !important;
}
#carousel .slides,
.slides{
	height: 130px !important;	
}
.property-detail-title{
	padding:25px 0;
	margin:0 0 15px 0;
}
.property-detail-title h3{
	margin-bottom:5px;
}
.detail-tabs{
	border:0px;
	margin:25px 0 15px 0;
}
.detail-tabs li{
	border:0px;
	text-align: center;
}
.detail-tabs li .active-circle{
	height:10px;
	width: 10px;
	border-radius:50%;
	background: transparent;
	margin:0 auto;
}
.detail-tabs li a{
	border-radius:0px;
	color: #a1a1a1;
	padding:0;
	margin:5px;
	border:0px;
	text-align: center;
}
.detail-tabs li:first-child a{
	margin-left:0;
}
.detail-tabs li:focus{
	border:0px;
	background: none;
}
.detail-tabs li a:hover{
	background: none;
	color: #1BBC9B;
	border:0px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border:0px;
	color: #1BBC9B;
}
.detail-tabs li.active .active-circle{
	height:10px;
	width: 10px;
	border-radius:50%;
	background: #1BBC9B;
	margin:0 auto;
}
.specifications ul{
	margin:0;
	padding:0;
	list-style-type:none;
}
.specifications ul li:before{
	content: url("../img/home/caret-right.png");
	padding-right:15px;
}
.specifications h4{
	text-align: left;
	margin-bottom:15px;
}
.favorite-button{
	color: #DB1818;
	font-size: 25px;
	margin-top:-15px;
}
.property-detail-agent img{
	min-height: 150px;
	min-width: 150px;
	border-radius: 50%;
}
.switch-details{
	margin:15px 0;
}
.switch-details:before,
.switch-details:after{
	clear: both;
	display: table;
	content: "";
}
.other-properties:before,
.other-properties:after{
	clear: both;
	display: table;
	content: "";
}
.other-properties{
	margin:15px 0;
}
.other-properties .property-image{
	height: 250px;
}
.other-properties .property-listing-price{
	top:150px;
}
.property-detail-contact{
	margin-top:15px;
}
.property-agent-name h4{
	margin-top:15px;
	clear: both;
}
.property-agent-name:before,
.property-agent-name:after{
	clear: both;
	content: "";
	display: table;	
}
.right-sidebar-panel input,
.right-sidebar-panel select,
.right-sidebar-panel .selectize-input{
	border:1px solid #ddd;
}
.right-sidebar-panel input:focus,
.right-sidebar-panel select:focus,
.right-sidebar-panel .selectize-input.focus{
	box-shadow: none;
	border:1px solid #ddd;
}
.right-sidebar-panel .selectize-input{
	margin-bottom:-5px;
}
#fullspec .panel-title{
	color: #777;
}
.nearby-places .btn-default{
	border-right:1px solid #fff;
}
#fullspec .panel-group .panel{
	border-radius:0;
}
#fullspec .panel-default > .panel-heading{
	background-image:none;
	background:#f7f7f7;
}
.property-submit-question textarea{
	resize:none;
}
.property-submit-question textarea:focus{
	border:1px solid #ddd;
	border-radius:0px;
	box-shadow: none;
}
.property-detail-header:before,
.property-detail-header:after{
	clear: both;
	display: table;
	content: "";
}
.property-detail-header .broker-details{
	margin-top:30px;
}
.share-this:before,
.share-this:after{
	clear: both;
	display: table;
	content: "";
}
.other-properties .property-listing-description:before,
.other-properties .property-listing-description:after{
	clear: both;
	display: table;
	content: "";
}
.other-properties .property-listing-description{
	position: relative;
	display: block;
	padding-bottom:0;
}
.other-properties .property-items{
	padding-bottom: 0px;
}
.other-properties .property-quick-icons{
	position: relative;
	display: block;
	min-height: 80px;
	padding:0;
}
.modal{
	top:30px;
}
.modal-content{
	border-radius: 0px;
}
.modal p{
	margin-top:15px;
}
.modal textarea{
	border:1px solid #ddd;
	border-radius:0px;
	resize:none;
}
.modal textarea:focus{
	box-shadow: none;
	border:1px solid #ddd;
}
.modal input{
	border:1px solid #ddd;
	border-radius:0px;
}
.modal input:focus{
	box-shadow: none;
	border:1px solid #ddd;
}
.modal .input-group-addon{
	border-radius: 0;
}
.datepicker .today,
.datepicker .active{
	background: #1BBC9B !important;
	color: #fff !important;
}
.datepicker table tr td, 
.datepicker table tr th{
	font-family: "Roboto",sans-serif;
}
.datepicker table tr th.dow{
	color: #333;
	font-family: "Roboto",sans-serif;
	font-weight: normal;
}
.datepicker .datepicker-switch{
	color: #1BBC9B;
	font-weight: normal;
}

/*login*/
.registration h2{
	padding:15px 0;
}
.login-content{
    margin:30px 0;
    padding:15px 25px;
}
.login-content input.form-control{
	border-bottom: 1px dashed #ddd;
    box-shadow: none;
    color: #aaa;
}
.login-text{
    font-family: "Open Sans",sans-serif;
}
.registration{
	background: #fff;
	margin:50px 0 0 0;
	position: relative;
}
.registration-body{
	background: #fff !important;
	margin:0;	
}

/*customer dashboard*/
.customer-dashboard{
	background:#fff;
   	padding:15px;
   	margin-top:35px;
}
.customer-dashboard h3{
	margin:15px 0;
}
.customer-dashboard label{
	font-family: "Roboto",sans-serif;
	font-weight: 300;
}
.customer-dashboard .alert{
	box-shadow: none;
}
.customer-dashboard .nav-tabs > li:first-child > a{
	padding-left:0;
	font-family: "Roboto",sans-serif;
	color: #aaa;
}
.customer-dashboard .nav-tabs > li > a{
	border-radius:0px;
	margin:0;
	padding: 5px 15px;
}
.customder-dashboard .tab-content > .tab-pane{
	font-family: "Roboto",sans-serif;
}

.tab-content td{
	font-weight: 300;
}

/*customer dashboard*/
.tabular{
	overflow-x: scroll;
	overflow-y:hidden;
}

/*misc*/
.no-padding-left{
	padding-left: 0;
}
.no-padding-right{
	padding-right: 0;
}
.no-padding{
	padding: 0;
}

@media only screen and (min-width : 240px) and (max-width : 552px) {
	/*nav*/
	.tagline{
		padding: 0 15px;
		clear: both;
	}
	.navbar-brand{
		width: 75%;
		height: auto;
	}

	.social-header{
		float: left !important;
	}
	.contact-header{
		display: block;
	}
	.contact-header li:first-child,
	.contact-header li:nth-child(2)
	{
		display: none;
	}
	.navbar-toggle{
		margin-top:15px;
	}
	.navbar-toggle .icon-bar{
		background: #aaa;
	}
	.slider-item img{
		min-height: 250px;
	}
	.customNavigation{
		top:55%;
	}
	.slider-item .caption{
		bottom:250px;
	}
	.slider-title a:hover{
		color: #aaa;
	}
	.slider-details{
		display: none;
	}
	.slider-area{
		height: 270px;
	}
	.agent-contact-details li{
		margin: 5px 0;
		width: 100%;
	}
	.property-image{
		height: 250px;
	}
	.property-listing-price{
		top:35%;
	}
	.property-listing-description h4{
		margin:0;
		padding:5px 0;
		height: 25px;
		max-width: 100%;
		overflow: hidden;
		line-height: 18px;
		text-overflow:ellipsis;
		white-space: nowrap;	
	}

	/*nearby properties*/
	#nearby-properties .property-listing-description{
		height: auto;
	}

	/*agent info*/
	.agent-info-summary{
		padding:15px 0;
	}

	/*find a home*/
	.filter-icon{
		display: none;
	}	
	.mobile-filter-icon{
		margin-right:15px;
		margin-bottom:15px;
	}
	.filter-sidebar{
		display: block;
		padding: 0;
		position: absolute;
  		overflow: hidden;
  		border-bottom:1px solid #ddd;
  		min-height: 670px;
	}
	.landscape-filter-property{
		display: none;
	}
	.other-options-area{
		position: absolute;
		left:0;
		z-index: 1050;
		padding-top:15px;
		padding-bottom:0;
		margin:0;
		width: 100%;
	}
	.more-filter-area{
		position: absolute;
		left:0;
		width: 100%;
		z-index: 1050;
		padding-top:15px;
		padding-bottom:0;
		margin:0;
		width: 100%;
	}
	.all-filters{
		position: absolute;
		left:0;
		width: 100%;
		z-index: 1051;
		padding-top:15px;
		width: 100%;
	}
	.all-filter-panel{
		height: auto;
		margin:0 0 15px 0;
	}
	.long-filter-panel{
		height: auto;
		overflow-y: scroll;
	}
	.filter-fields {
	    display: block;
	}

	/*property detail page*/
	.property-image{
		height: 250px;
	}
	.property-detail-agent img{
		max-width: 80px;
		max-height: 80px;
	}
	.property-detail-contact{
		margin-top:15px;
	}
	.property-detail-contact p{
		text-align: right;
	}
	.agent-social li{
		padding-right:0;
	}
	.broker-details{
		margin-top:15px;
	}
	.broker-details p{
		text-align: right;
	}
	.detail-tabs li{
		width: 100%;
	}
	.other-properties .property-quick-icons{
		min-height: 70px;
	}
	.other-properties .property-listing-description{
		padding:0;
	}
	.other-properties .property-item{
		padding-bottom:15px;
	}
	.other-properties .property-image{
		height: 250px;
	}
	.other-properties .property-image img{
		background-size: auto;
	}
	.other-properties .property-listing-price{
		top:30%;
	}

	/*customer dashboard*/
	.customer-dashboard .nav-tabs > li > a{
		padding:5px;
	}
	.customer-dashboard .alert{
		margin-bottom:0;
	}

	/*footer*/
	footer .col-xs-12,
	footer p{
		text-align: center !important;
	}

	.scroll-to-top{
		left:80%;
		top:auto;
		bottom:-1px;
	}
}

@media only screen and (max-width : 480px) and (orientation:landscape){
	.slider-item .caption{
		bottom:105px;
	}
	.slider-item .slider-details{
		display: none;
	}
}

@media only screen and (min-width: 553px) and (max-width: 767px) {
	/*nav*/
	.tagline{
		padding: 0 15px;
		clear: both;
	}

	.social-header{
		float: right !important;
	}
	.contact-header{
		display: block;
	}
	.contact-header li:first-child,
	.contact-header li:nth-child(2)
	{
		display: none;
	}
	.navbar-toggle{
		margin-top:15px;
	}
	.navbar-toggle .icon-bar{
		background: #aaa;
	}
	.main-menu li a{
		padding:5px;
	}

	/*slider*/
	.slider-item img{
		min-height: 250px;
	}
	.customNavigation{
		top:55%;
	}
	.slider-item .caption{
			
	}
	.slider-title a:hover{
		color: #aaa;
	}
	.slider-details{
		display: block;
	}
	.slider-area{
		height: 400px;
	}
	.agent-contact-details li{
		margin: 5px 0;
		width: 100%;
	}
	.property-image{
		height: auto;
	}
	.property-listing-price{
		top:100px;
	}
	.slider-item .caption{
		bottom: 125px;
	    display: block;
	    left: 75px;
	}

	/*home properties*/
	.property-listing-description h4{
		margin:0;
		padding:5px 0;
		height: 25px;
		max-width: 100%;
		overflow: hidden;
		line-height: 18px;
		text-overflow:ellipsis;
		white-space: nowrap;	
	}

	/*nearby properties*/
	#nearby-properties .property-listing-description{
		height: auto;
	}
	.property-item{
		padding:0 15% 15px 15%;
		height: auto;
	}
	.property-listing-description{
		height: auto;
	}

	/*agent info*/
	.agent-info-summary{
		padding:15px 0;
	}
	.agent-image img{
		margin:0 auto;
	}

	/*find a home*/
	.filter-icon{
		display: none;
	}
	.mobile-filter-icon{
		margin-right:15px;
		margin-bottom:15px;
		display: block;
	}
	.view-map-button,
	.filter-property{
		margin-top:25px;
	}
	.filter-sidebar{
		display: block;
		padding: 0;
		position: absolute;
  		overflow: hidden;
  		border-bottom:1px solid #ddd;
  		min-height: 670px;
	}
	.landscape-filter-property{
		display: none;
	}
	.property-image{
		height: 250px;
	}
	.other-options-area{
		position: absolute;
		left:0;
		z-index: 1050;
		padding-top:15px;
		padding-bottom:0;
		margin:0;
		width: 100%;
	}
	.more-filter-area{
		position: absolute;
		left:0;
		width: 100%;
		z-index: 1050;
		padding-top:15px;
		padding-bottom:0;
		margin:0;
		width: 100%;
	}
	.all-filters{
		position: absolute;
		left:0;
		width: 100%;
		z-index: 1051;
		padding-top:15px;
		width: 100%;
	}
	.all-filter-panel{
		height: auto;
		margin:0 0 15px 0;
	}
	.long-filter-panel{
		height: auto;
		overflow-y: scroll;
	}
	.filter-fields {
	    display: block;
	}

	/*property detail page*/
	.property-detail-agent img{
		max-width: 80px;
		max-height: 80px;
	}
	.property-detail-contact{
		margin-top:15px;
	}
	.property-detail-contact p{
		text-align: right;
	}
	.agent-social li{
		padding-right:0;
	}
	.property-listing-price{
		top:30%;
	}
	.other-properties .property-quick-icons{
		height: auto;
	}
	.other-properties .property-image img{
		background-size: auto;
	}
	.other-properties .property-item{
		padding:15px 10%;
	}
	.other-properties .property-image{
		height: 200px;
	}
	.other-properties .property-listing-price{
		top:30%;
	}
	.other-properties .property-listing-description p{
		font-weight: 400;
	    line-height: 18px;
	    max-width: 100%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}

	/*customer dashboard*/
	.customer-dashboard .nav-tabs > li > a{
		padding:5px;
	}
	.customer-dashboard .alert{
		margin-bottom:0;
	}

	/*footer*/
	footer .col-xs-12,
	footer p{
		text-align: center !important;
	}

	.scroll-to-top{
		left:80%;
		top:auto;
		bottom:-1px;
	}
}

@media only screen and (max-width : 640px) and (orientation:landscape){
	/*nav*/
	.tagline{
		padding: 0 15px;
		clear: both;
	}

	.social-header{
		float: right !important;
	}
	.contact-header{
		display: block;
	}
	.contact-header li:first-child,
	.contact-header li:nth-child(2)
	{
		display: none;
	}
	.navbar-toggle{
		margin-top:15px;
	}
	.navbar-toggle .icon-bar{
		background: #aaa;
	}

	/*slider*/
	.slider-area{
		min-height:420px;
	}
	.slider-item img{
		min-height: 400px;
	}
	.customNavigation{
		top:55%;
	}
	.slider-item .caption{
		display: block;
	}
	.slider-title a:hover{
		color: #aaa;
	}
	.slider-details{
		display: block;
		padding: 5px;
	}
	.slider-area{
		height: 350px;
	}
	.slider-item .caption .slider-title{
		padding: 5px;
	}
	.slider-details a.btn{
		display: block;
	}

	/*home properties*/
	.property-listing-description h4{
		margin:0;
		padding:5px 0;
		height: 25px;
		max-width: 100%;
		overflow: hidden;
		line-height: 18px;
		text-overflow:ellipsis;
		white-space: nowrap;	
	}

	/*agent info*/
	.agent-info-summary{
		padding:15px 0;
	}
	.agent-image img{
		margin:0 auto;
	}
	.agent-contact-details li{
		margin: 5px 0;
		width: 100%;
	}

	/*property listing*/
	.property-item{
		padding:15px 10%;
	}
	.property-image{
		height: 250px;
	}
	.property-listing-price{
		top:35%;
	}

	/*find a home*/
	.filter-icon{
		display: none;
	}
	.mobile-filter-icon{
		margin-right:15px;
		margin-bottom:15px;
	}
	.view-map-button,
	.filter-property{
		margin-top:25px;
	}
	.filter-sidebar{
		display: block;
		padding: 0;
		position: absolute;
  		overflow: hidden;
  		border-bottom:1px solid #ddd;
  		min-height: 670px;
	}
	.landscape-filter-property{
		display: none;
	}
	.other-options-area{
		position: absolute;
		left:0;
		z-index: 1050;
		padding-top:15px;
		padding-bottom:0;
		margin:0;
		width: 100%;
	}
	.more-filter-area{
		position: absolute;
		left:0;
		width: 100%;
		z-index: 1050;
		padding-top:15px;
		padding-bottom:0;
		margin:0;
		width: 100%;
	}
	.all-filters{
		position: absolute;
		left:0;
		width: 100%;
		z-index: 1051;
		padding-top:15px;
		width: 100%;
	}
	.all-filter-panel{
		height: auto;
		margin:0 0 15px 0;
	}
	.long-filter-panel{
		height: auto;
		overflow-y: scroll;
	}
	.filter-fields {
	    display: block;
	}
	
	/*property detail page*/
	.property-detail-agent img{
		max-width: 100px;
		max-height: 100px;
	}
	.property-detail-contact p{
		text-align: left;
	}	
	.property-detail-agent{
		text-align: right;
	}
	.other-properties .property-quick-icons{
		height: auto;
	}
	.other-properties .property-image img{
		background-size: auto;
	}
	.other-properties .property-item{
		padding:15px 10%;
	}
	.other-properties .property-image{
		height: 250px;
	}
	.other-properties .property-listing-price{
		top:30%;
	}
	.other-properties .property-listing-description p{
		font-weight: 400;
	    line-height: 18px;
	    max-width: 100%;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}

	/*customer dashboard*/
	.customer-dashboard .nav-tabs > li > a{
		padding:5px;
	}
	.customer-dashboard .alert{
		margin-bottom:0;
		padding:5px 0;
	}

	/*footer*/
	footer .col-xs-12,
	footer p{
		text-align: center !important;
	}

	.scroll-to-top{
		left:80%;
		top:auto;
		bottom:-1px;
	}
}

@media only screen and (min-width: 767px) and (max-width: 773px) and (orientation:landscape){
	.mobile-filter-icon{
		display: block;
	}
	.show-filter-icon{
		display: none;
	}
	.nav>li>a{
		padding:10px;
	}

	/*home properties*/
	.property-listing-description h4{
		margin:0;
		padding:5px 0;
		height: 25px;
		max-width: 100%;
		overflow: hidden;
		line-height: 18px;
		text-overflow:ellipsis;
		white-space: nowrap;
		min-height: 35px;
	}

	/*find a home*/
	.property-quick-icons{
		min-height: 100px;
	}

}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait){
	/*nav*/
	.main-menu li a{
		padding:15px 5px;
	}

	.contact-header{
		display: block;
	}

	/*slider*/
	.slider-item .caption{
		bottom:145px;
		left:75px;
	}
	.slider-area{
		height:400px;
	}
	.slider-details{
		display: block;
	}

	/*home properties*/
	.property-image{
		height: 210px;
	}
	.property-listing-price{
		top:110px;
	}
	.property-listing-description h4{
		min-height: 65px;
	}
	.agent-contact-details li{
		margin:5px 0;
	}
	#nearby-properties .property-item{
		height: 350px;
	}

	/*find a home*/
	.view-map-button,
	.filter-property{
		margin-top:25px;
	}
	.landscape-filter-property{
		display: none;
	}
	.filter-fields{
		display: block;
	}
	.other-options-area{
		padding-top: 50px;
	    position: fixed;
	    z-index: 1045;
	}
	.more-filter-area{
		padding-top: 50px;
	    position: fixed;
	    z-index: 1045;
	}
	.filter-icon{
		display: block;
	}
	.filter-sidebar{
		display: block;
		padding-top:50px;
		width: 40px;
	}
	.mobile-filter-icon{
		margin-right:15px;
		margin-bottom:15px;
	}
	.show-filter-icon{
		margin-right:10px;
	}
	.property-quick-icons{
		min-height: 90px;
	}
	.property-listings{
		padding:0 0 0 15px;
	}
	.property-quick-icons .col-sm-6{
		padding:0;
	}
	.property-quick-icons p{
		margin:0;
		padding:5px 0;
		height: 25px;
		max-width: 100%;
		overflow: hidden;
		line-height: 18px;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	#nearby-properties .property-item{
		height: auto;
	}
	.all-filters{
		padding-top: 50px;
	    position: fixed;
	    z-index: 1045;
	    width: 500px;
	}
	.all-filter-panel{
		height: 120px;
		overflow-y:scroll;
	}

	/*property detail page*/
	.property-detail-contact p{
		text-align: left;
	}
	.property-detail-agent{
		text-align: center;
	}
	.broker-details p{
		text-align: left;
	}
	.other-properties .property-image{
		height: 175px;
	}
	.other-properties .property-image img{
		background-size:auto;
	}
	.other-properties .property-listing-price {
	   top: 90px;
	}
	.other-properties .property-listing-description{
		position: relative;
		display: block;
	} 
	.other-properties .property-listing-description h4{
		min-height: 25px;
		max-width: 100%;
		overflow: hidden;
		line-height: 18px;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	.other-properties .heart-container i{
		width: 25px;
	}
	.other-properties .property-item{
		height: auto;
		position: relative;
		display: block;
	}

	/*generic page*/
	.page-content{
		margin-top:80px;
	}

	.scroll-to-top{
		left:90%;
		top:auto;
		bottom:-1px;
	}
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:landscape){
	/*nav*/
	.main-menu li a{
		padding:15px 5px;
	}
	.contact-header{
		display: block;
	}

	/*featured properties*/
	.featured-properties .property-image{
		height: 200px;
	}
	.featured-properties .property-listing-price{
		top:115px;
	}
	.featured-properties .property-listing-description{
		height: 200px;
	}
	.property-listing-description h4{
		min-height: 35px;
		max-width: 100%;
		overflow: hidden;
		line-height: 18px;
		text-overflow:ellipsis;
		white-space: nowrap;
	}
	.property-items{
		padding-bottom:15px;
		height: auto;
	}
	.property-image{
		height: 200px;
	}

	/*nearby properties*/
	#nearby-properties .property-listing-description{
		height: 200px;
	}

	/*agent info*/
	.agent-contact-details li{
		margin:5px 0;
	}
	.agent-info-area .property-image{
		height: 150px;
	}
	.agent-info-area .property-listing-price{
		top:75px;
	}
	.agent-info-area .property-listing-description h4{
		min-height: auto;
	}

	/*find a home*/
	.property-item{
		padding:10px 5%;
	}
	.property-image img{
		background-size: auto;
	}
	.landscape-filter-property{
		display: none;
	}
	.show-filter-icon{
		display: block;
	}
	.mobile-filter{
		display: none;
	}
	.mobile-filter-icon{
		display: block;
		margin-right:15px;
		margin-bottom:15px;
	}
	.view-map-button{
		margin-right:15px;
	}
	.filter-icon{
		display: block;
	}
	.filter-sidebar{
		display: block;
		padding-top:50px;
	}
	.all-filters{
		width: 500px;
	}
	.all-filter-panel{
		overflow-y:scroll;
		height: 180px;
	}

	/*property detail page*/
	.other-properties .property-image{
		height: 150px;
	}
	.other-properties .property-listing-price{
		top:70px;
	}
	.property-detail-contact p{
		padding-left:15px;
	}

	/*generic page*/
	.page-content{
		margin-top:80px;
	}

	.scroll-to-top{
		left:90%;
		top:auto;
		bottom:-1px;
	}
}