/**
* Page: Site Settings;
*/
.content-wrapper{
  min-height: calc(100vh - 56px);
}

textarea{
  min-height: 200px;
}
input[type="checkbox"]{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid rgba(0,0,0,0.3);
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 8px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
input[type="checkbox"]:hover{
  cursor: pointer;
}
input[type="checkbox"]:focus{
  outline: none;
}
input[type="checkbox"]:checked{
  width: 10px;
  min-width: 10px !important;
  border: none;
  border-bottom: 3px solid green;
  border-right: 3px solid green;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type="checkbox"] + label{
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
[data-lock] textarea,
[data-lock] input{
  pointer-events: none !important;
  background-color: rgba(0,0,0,0.1) !important;
  color: #aaa !important;
}
[data-lock] label:after{
  content: '\f023  Locked by AgentSquared.';
  font-family: 'FontAwesome', sans-serif;
  display: inline-block;
  margin-left: 10px;
  background-color: #e00808;
  color: white;
  padding: 3px 10px;
  border-radius: 3px;
  vertical-align: bottom;
}
[data-lock][data-soon] label:after{
  content: '\f023  Coming Soon on AgentSquared.';
}
.loader-overlay{
  background-image: url('/assets/images/dashboard/dashboard-loader.svg');
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}
[data-toggle="collapse"]:hover{
  cursor: pointer;
  background-color: #888;
  color: white;
}
.panel-default{
  overflow: hidden;
}
.field-item[data-search].highlight label{
  background-color: #ffeaa3;
  padding: 0 8px;
}

#selected-custom-fields .selected-input{
  margin-left: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  height: auto;
  text-align: center;
}
#selected-custom-fields.selected li.required{
  padding-right: 225px;
}
#selected-custom-fields.selected li.required:after{
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.7);
  z-index: 10;
}
#selected-custom-fields.selected li.required .item-close{
  z-index: 11;
}
#selected-custom-fields.selected li.required .selected-input{
  position: absolute;
  width: 198px;
  top: 2px;
  z-index: 11;
  box-shadow: 0 0 8px rgba(0,0,0,0.4);
  border: 1px solid rgba(0,0,0,0.5);
}
