@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,600,700);
.p20 {
    padding: 20px 0;
}

h1,h2,h3,h4,h5{
	font-family: "Source Sans Pro",sans-serif;
}

a{
	color: #3bb672;
}
a:hover{
	color: #449d44;
}

p{
	color: #666;
	font-family: "Source Sans Pro",sans-serif;
}
.alert{
    margin-bottom: 0;
    border-radius: 0;
}


.well h4{
	color: #201e17;
	font-family: "Source Sans Pro",sans-serif;
}
.select-post{
	margin-bottom: 20px;
}

.social-network-header {
    padding-bottom: 50px
}

.social-networks i {
    color: #3bb672;
    margin-right: 15px;
}

.social-networks h2 {
    padding: 20px 0;
}

.navbar-inverse {
    background: none;
    border: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #000;
}

.navbar-nav {
    float: left;
    margin: 10px 0 0 100px;
}

.panel-title .fa {
    color: #3bb672;
}

.panel-title a{
	color: #201e17;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.panel-group .panel{
    border-radius:0px
}

.panel-default > .panel-heading .badge{
    background: #c1c1c1;
}

.panel-title .fa{
    color:#3bb672;
}
.social-postarea {
    margin-bottom: 50px;
}
.social-postarea select{
	box-shadow: none;
	border:1px solid #e3e3e3;
}

.social-postarea textarea{
    resize:none;
    border-radius:0px;
    border-color:#e3e3e3;
}

.social-postarea h3{
	color: #333;
}

.social-postarea textarea:focus{
	border-color:#e3e3e3;
	box-shadow: none;
}

.inactive {
    color: #d9534f !important;
}

.disable {
    color: #ccc!important;
}

.hide {
    display: none;
}

.select-post ul li i.fa {
    color: #3bb672;
}

.btn {
    border-radius: 0px;
}

.btn-save {
    background: #3bb672;
    border-radius: 0px;
    background-image: none;
    border: 0px;
    width: 100px;
    color: #fff;
    text-shadow: none;
}

.btn-preview {
	border-radius: 0px;
    background-image: none;
    border: 0px;
    width: 100px;
    color: #fff;
    text-shadow: none;
    margin-left: 6px;
}

.btn-cancel {
	border-radius: 0px;
    background-image: none;
    border: 0px;
    width: 100px;
    color: #fff;
    text-shadow: none;
    margin-right: 6px;
}

.btn-save-modal {
	background: #3bb672;
    border-radius: 0px;
    background-image: none;
    border: 0px;
    width: 100px;
    color: #fff;
    text-shadow: none;
}

.modal-header h4{
   text-align: center;
}
#btn_login {
   margin-top: 30px;
   padding: 12px 36px;
   margin-bottom: 5px;
}
  .text-box-login {
    padding: 25px 10px;
}
#login-button {
   margin: 0 auto;
   display: block;
   border-radius: 0px;
   margin-top:150px;
}

#defaultPost {
    margin-top: 10px;
    padding: 8px 10px;
    border-color: #ddd;
}

#link-area,#photo-area,#title-area{display:none;}

/***** Preview Post *****/
#preview-post {

}

#preview-img {
	text-align: center;
}

#preview-img img {
	margin: 10px;
	width:410px;
}

#preview-text p {
    overflow: hidden;
    width: 412px;
    margin: 0 auto;
    text-align: justify;
    line-height: 25px;
}

#preview-text p:first-child, #preview-text p:last-child{
	text-align: center;
}

.preview-text-post {
	text-align: center !important;
}

/** smartphone (portrait and landscape)**/
@media only screen and (min-width : 240px) and (max-width : 552px) {
	/*nav*/
	.navbar-inverse .navbar-toggle{
		border: 0px;
		margin-top:15px;
	}

	.navbar-nav{
		float: none;
		margin:0px;
	}

	.navbar-inverse .navbar-toggle:hover{
		background: none;
		border: 0px;
	}

	.navbar-inverse .navbar-toggle:hover .icon-bar{
		color: #e3e3e3;
	}

	.navbar-inverse .navbar-toggle .icon-bar{
		background: #666;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
		border:0px;
	}

	.panel .well{
		margin-top:15px;
	}
}

@media only screen and (min-width: 553px) and (max-width: 767px) {
	/*nav*/
	.navbar-inverse .navbar-toggle{
		border: 0px;
		margin-top:15px;
	}

	.navbar-nav{
		float: none;
		margin:0px;
	}

	.navbar-inverse .navbar-toggle:hover{
		background: none;
		border: 0px;
	}

	.navbar-inverse .navbar-toggle:hover .icon-bar{
		color: #e3e3e3;
	}

	.navbar-inverse .navbar-toggle .icon-bar{
		background: #666;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
		border:0px;
	}

	.panel .well{
		margin-top:15px;
	}
}

@media only screen and (max-width : 640px) and (orientation:landscape){
	/*nav*/
	.navbar-inverse .navbar-toggle{
		border: 0px;
		margin-top:15px;
	}

	.navbar-nav{
		float: none;
		margin:0px;
	}

	.navbar-inverse .navbar-toggle:hover{
		background: none;
		border: 0px;
	}

	.navbar-inverse .navbar-toggle:hover .icon-bar{
		color: #e3e3e3;
	}

	.navbar-inverse .navbar-toggle .icon-bar{
		background: #666;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
		border:0px;
	}

	.panel .well{
		margin-top:15px;
	}
}