@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);

h1,h2,h3,h4,label,p{
    font-family: 'Source Sans Pro', sans-serif;
}
input.form-control,
select.form-control{
    box-shadow: none;
    border-radius:0px;
    border:0;
    border-bottom:1px solid #ddd;
    font-family: 'Source Sans Pro', sans-serif;
}
input.form-control:focus,
select.form-control:focus{
    box-shadow: none;
    border-color:#c7cbd5;
    background-color:none;
}
textarea.form-control{
    box-shadow: none;
    border-radius:0px;
    font-family: 'Source Sans Pro', sans-serif; 
}
textarea.form-control:focus{
    box-shadow: none;
    border-color:#ddd;
}

/*nav*/
.navbar-fixed-top .navbar-toggle {
    padding: 27px 15px;
}

.navbar{
    border-bottom:1px solid #eee;
    background: #36a9e1;
}
.spw-brand.navbar-brand{
    font-family: 'Bitter', serif;
    background: #1e8fc6;
    height: 69px;
    color: #fff;
    width: 200px;
    text-align: center;
    font-size: 1.2em;
}
#navbar ul{
    border-bottom: none;
}
#navbar li{
    text-align: center;
}
#navbar li a{
    font-family: 'Source Sans Pro', sans-serif;
    color: #c3e6ff;
    text-shadow:none;
    text-align: center;
    margin-bottom: -5px;
    background-color: transparent;
    border: 0;
}
#navbar li a:hover{
    background: none;
}
#navbar li:hover .arrow-up{
    visibility: visible;
    opacity:1;
    transition:all .2s ease-in-out;
}
#navbar li.active .arrow-up{
    visibility: visible;
    opacity:1;
}
.arrow-up {
  width: 0; 
  height: 0;
  margin-top:-5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #c3e6ff;
  margin:0 auto;
  visibility: hidden;
  opacity:0;
}
.customer-options li{
    padding:0px 0 0 0;
}
.customer-options img{
    height: 50px;
    width: 50px;
}
.customer-options p{
    margin:0;
    padding:0;
    color:#c3e6ff;
}
.customer-options .dropdown-menu{
    top:69px;
}
.nav.customer-options .open > a, 
.nav.customer-options .open > a:focus, 
.nav.customer-options .open > a:hover{
    background: none;
}
.customer-name{
    margin-top:5px;
    max-width: 100%;
}

/*main content*/
.main-content{
    position: relative;
    margin:100px 0;
}
.main-content h3{
    font-family: 'Bitter', serif;
    color: #383e4b;
    margin:0;
    padding:0;
    font-size:25px;
}
.main-content h4{
    font-family: 'Bitter', serif;
    color: #646a77;
    margin:0;
    padding:0;
    font-size:20px;
}
.main-content span.page-desc{
    font-size:12px;
    font-family: 'Bitter', serif;
}
.page-title-container:before,
.page-title-container:after{
    clear: both;
    content:'';
    display: table;
}

/*common*/
.padding-0 {
    padding: 0;
}
.paddingright-0 {
    padding-right: 0
}

.paddingleft-0 {
    padding-left: 0
}

.mt-70 {
    margin-top: 70px;
}

.clearfix {
    clear: both;
}

/*choose template*/
.template-screenshot{
    height: 250px;
    overflow: hidden;
    border:1px solid #c7cbd5;
    width: 100%;
}
.template-screenshot img{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.template-list{
    margin:15px 5%;
    position: relative;
}
.template-list.selected .template-select,
.template-list.selected .overlay{
    display: block;
    opacity:1;
    animation-name:fade;
    animation-iteration:1;
    animation-duration:1s;
    animation-directon:linear;
}
.template-list:hover .template-select,
.template-list:hover .overlay{
    display: block;
    opacity:1;
    animation-name:fade;
    animation-iteration:1;
    animation-duration:1s;
    animation-directon:linear;
}
.template-select{
    position: absolute;
    top:0;
    opacity:0;
    height: 100%;
    width: 100%;
    text-align: center;
    z-index: 2;
    display: none;
}
.template-select label{
    margin-top:35%;
    width: 100%;
    text-align: center;
    color: #36a9e1;
    padding:5px 0;
    margin-bottom:15px;
    background: rgba(255,255,255,.7);
    border-top:1px solid #f9b169;
    border-bottom:1px solid #f9b169;
}
// .overlay{
//     display: none;
//     opacity: 0;
//     background: rgba(199,203,213,.7);
//     z-index: 1;
//     min-height: 250px;
//     position: absolute;
//     width: 100%;
//     top:0;
// }
.btn-select{
    border-radius:50px;
    border:0px;
    box-shadow: none;
    text-shadow:none;
    background-image:none;
    font-family: 'Source Sans Pro', sans-serif;
    background: #299ae6;
    color: #fff;
}
.btn-select:hover, 
.btn-select:focus, 
.btn-select:active, 
.btn-select.hover {
    box-shadow: inset 0 0 0 5px #53a7ea;
    transition: box-shadow .2s ease-in-out;
    background-color: #e0e0e0;
    color: #36a9e1 !important;
}
.btn-preview:hover, 
.btn-preview:focus, 
.btn-preview:active, 
.btn-preview.hover {
    box-shadow: inset 0 0 0 5px #f9b169;
    transition: box-shadow .2s ease-in-out;
    background-color: #e0e0e0;
    color: #f9b169 !important;
}

.btn-preview{
    border-radius:50px;
    border:0px;
    box-shadow: none;
    text-shadow:none;
    background-image:none;
    font-family: 'Source Sans Pro', sans-serif;
    background: #f9b169;
    color: #fff;
}
.btn-preview:hover{
    box-shadow: inset 0 0 0 5px #f9b169;
    transition:box-shadow .2s ease-in-out;
    color:#f9b169;
}
@keyframes fade{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.choose-template-area:before,
.choose-template-area:after{
    clear: both;
    content:'';
    display: table;
}
.choose-template-area{
    margin-bottom:25px;
}

/*dashboard*/
.main-content .small-box h3 {
    color: #fff;
}

/*property info*/
#property-info-form:before,
#property-info-form:after,
#property-info-form .tab-content:before,
#property-info-form .tab-content:after{
    clear: both;
    content:'';
    display: table;
}
#property-info-form{
    width:100%;
    margin:25px 0;
}
#property-info-form .tab-content{
    margin-bottom:25px;
}
#property-info-form .btn-select{
    padding:10px 30px;
}
.content-form span{
    font-size:12px;
    font-family: 'Bitter', serif;
    color:#b1b5bf;
}
.content-form .nav-tabs>li.active>a, 
.content-form .nav-tabs>li.active>a:focus, 
.content-form .nav-tabs>li.active>a:hover {
    border-radius: 50px;
    border: 0px;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    font-family: 'Source Sans Pro', sans-serif;
    background: #299ae6;
    color: #fff;
}
.content-form .nav-tabs>li {
    margin-bottom: 0;
}
.content-form .nav-tabs {
    border-bottom: 0;
}
.content-form .nav-tabs>li>a {
    border-radius: 50px;
    border: 0px;
    box-shadow: none;
    text-shadow: none;
    background-image: none;
    font-family: 'Source Sans Pro', sans-serif;
    background: #c6d8e2;
    color: #fff;
    margin-right: 15px;
}
.content-form .nav>li>a:focus, .nav>li>a:hover {
    background-color: #299ae6;
    color: #fff;
}
.content-form .tab-pane {
    padding: 30px 0;
}

/*photos*/
.photo-content:before,
.photo-content:after{
    clear: both;
    content:'';
    display: table;
}
.photo-content{
    margin:15px 0;
    position: relative;
}
.photo-container .col-md-3{
    padding:0;
}
.photo-item{
    margin:0px 0;
}
.photo-item .image-container{
    height: 150px;
    overflow: hidden;
}
.photo-item .image-container img{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}
.fileUploader{
    clear: both;
    position: relative;
    padding:15px 0;
}
.fileUploader .introMsg{
    display: none;
}
#two > div{
    padding:0 0%;
}
#two .dropZone{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:16px;
    font-weight: 300;
    border:1px dashed #c7cbd5;
    margin-top:0;
}
.photo-container{
    margin-top:15px;
}

/*agent info*/
.agent-info-container {
    padding: 50px 0;
}
// .agent-img{
//     width: 100%;
//     height:100%;
//     position: relative;
//     overflow-x:hidden;
//     margin:0 15px;
// }
// .agent-img img{
//     border-radius:50%;
//     max-width: 100%;
//     height:auto;
// }
// .save-agent-photo {
//     margin-top: -40px;
// }
// .agent-upload-form{
//     display: none;
// }
// .agent-img .overlay{
//     width: 100%;
//     height:100%;
//     display: block;
//     border-radius:50%;
//     background: rgba(0,0,0,.5);
// }
// .agent-img:hover .overlay,
// .agent-img:hover .change-profile-container{
//     display: block;
//     opacity:1;
//     animation-name:fade;
//     animation-iteration:1;
//     animation-duration:1s;
//     animation-directon:linear;
// }
// .agent-info-container .agent-img{
//     margin:0 15px 0 0;
// }
// .agent-info-container .agent-img img{
//     border:5px solid #c6d8e2;
// }
// .change-profile-container{
//     left: 45%;
//     margin: 0 auto;
//     position: absolute;
//     text-align: center;
//     top: 45%;
//     z-index: 3;
//     opacity:0;
//     display: none;
// }
// .change-profile-container button{
//     font-size:20px;
// }
// .agent-personal{
//     margin:0 10%;
// }

// .agent-info-container .btn-select{
//     padding:10px 30px;
// }

/*social media*/
.social-media-form .input-group-addon {
    border-radius: 0;
    background-color: transparent;
    border: 0;
}
.social-media-container p{
    color: #8a8a8a;
}
.social-media-form label .fa {
    font-size: 20px;
    color: #1e8fc6;
}
.social-form{
    padding:15px 25px;
    margin:15px 0;
}
.social-form label{
    font-family: 'Bitter', serif;
    font-size:16px;
    color:#fff;
}
.facebook-form{
    background: #2D4D86;
    border-bottom:15px solid #677CAB;
}
.twitter-form{
    background: #2FC2EF;
    border-bottom:15px solid #5DD8FE;
}
.linkedin-form{
    background: #1D87BD;
    border-bottom:15px solid #475757;
}
.google-form{
    background: #D73D32;
    border-bottom:15px solid #B0160B;
}
.social-media-form.form-horizontal .form-group {
    border-bottom: 1px dashed #ccc;
    border-left: 0;
    border-right: 0;
    padding: 10px;
}
.social-media-form.form-horizontal .form-group .form-control {
    border: 0;
    text-decoration: none;
    font-style: italic;
    padding-left: 0;
}
.social-media-form .input-group-addon {
    padding-right: 0;
}

/*domains*/
.domain-container {
    border: 1px dashed #ccc;
    display: inline-block;
    clear: both;
    min-height: 400px;
    width: 100%;
}

.domain-container .input-group-btn .select-add-on {
    width: 70px;
}

.domain-container .input-group-btn {
    padding-bottom: 0 !important;
}

.domain-container {
    padding: 10px;
}

.domain-container select.form-control {
    padding: 0;
}

.checkdomainbtn {
    margin-top: 20px;
}

.domain-result {
    display: none;
    margin-top: 20px;
}

.domain-result .callout.callout-fade-orange {
    background-color: #d4b14f;
    border-left-color: #b16313;
    border-radius: 0;
}

.domain-result .callout.callout-fade-orange .domain-name {
    color: #fff;
}
.domain-result .callout.callout-fade-orange .fa {
    color: #b16313;
    margin-right: 5px;
}

.avail-domains {
    padding: 0;
}

.avail-domains li {
    list-style-type: none;
}

.avail-domains li .fa {
    color: green;
    margin-right: 5px;
}


/*file uploader*/
.fileUploader .filesContainer .newElement .fileTitle,
.fileUploader .filesContainer .newElement .loadBar,
.fileUploader .filesContainer .newElement .fileActions,
.fileUploader .result > div {
    -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.fileUploader .dropZone {
    transition: all 1s;
   -webkit-transition: all 1s;
}
.fileUploader {
    color: #333;
    font-weight: bold;
}
.fileUploader img {
    display: block;
}
.fileUploader .hide {
    display: none !important;
}
.fileUploader .inputContainer {
    display: none;
}
.fileUploader .dropZone {
    min-height: 150px;
    width: 100%;
    margin-top: 25px;
    border: dashed 3px #333;
    text-align: center;
    vertical-align: middle;
    line-height: 150px ;
    font-size: 36px ;
    color: gray;
}
.fileUploader .highlight {
    color: #76ff03;
    border-color: #76ff03;
}
.fileUploader .filesContainer {
    margin-top: 25px ;
}
.fileUploader .filesContainer .error .fileTitle {
    color: #aa00ff!important;
}
.fileUploader .filesContainer .error .loadBar {
    border: solid 2px #aa00ff!important;
}
.fileUploader .filesContainer .error .loadBar.errorMsg {
    color: #aa00ff!important;
    font-weight: bold;
    font-size: 18px ;
    line-height: 40px ;
    height: 100%;
    width: 100%;
    background-color: transparent!important;
    text-align: center;
}
.fileUploader .filesContainer .error .fileActions div {
    color: #aa00ff!important;
}
.fileUploader .filesContainer .error .fileActions a {
    color: #aa00ff!important;
}
.fileUploader .filesContainer.fileThumb {
    max-height: 130px ;
    margin: auto;
}
.fileUploader .filesContainer.reloadedElement.fileTitle {
    color: #1b5e20 !important;
}
.fileUploader .filesContainer .reloadedElement .loadBar {
    border: solid 2px #1b5e20!important;
}
.fileUploader .filesContainer.reloadedElement.loadBar div {
    background-color: #1b5e20 !important;
}
.fileUploader .filesContainer .reloadedElement .fileActions a,
.fileUploader .filesContainer .reloadedElement .fileActions .fileDelete {
    color: #1b5e20!important;
}
.fileUploader .filesContainer .newElement {
    width: 100%;
    height: 40px ;
    margin-bottom: 7px ;
}
.fileUploader .filesContainer .newElement input {
    background-color: transparent;
}
.fileUploader .filesContainer .newElement input:focus {
    outline: none!important;
}
.fileUploader .filesContainer .newElement > input,
.fileUploader .filesContainer .newElement > div {
    float: left;
}
.fileUploader .filesContainer .newElement .fileTitle {
    width: 38%;
    margin-right: 2%;
    color: #333;
    font-size: 18px;
    border: none;
    text-align: right;
    position: relative;
    top: 10px;
}
.fileUploader .filesContainer .newElement .fileExt {
    display: none;
}
.fileUploader .filesContainer .newElement .loadBar {
    border: solid 2px #333;
    width: 28%;
    margin-right: 2%;
    height: 100%;
}
.fileUploader .filesContainer .newElement .loadBar div {
    background-color: #333;
    width: 0;
    height: 100%;
}
.fileUploader .filesContainer .newElement .fileActions {
    position: relative;
    width: 30%;
    position: relative;
    top: 10px;
}
.fileUploader .filesContainer .newElement .fileActions div {
    display: inline-block;
}
.fileUploader .filesContainer .newElement .fileActions div:first-child {
    margin-right: 25px;
}
.fileUploader .filesContainer .newElement .fileActions a {
    text-decoration: none !important;
    color: #333;
    cursor: pointer;
}
.fileUploader .filesContainer .newElement .fileActions.fileDelete {
    cursor: pointer;
}
.fileUploader .result {
    margin-top: 5px ;
    color: #ff0000;
    border: dashed 3px #ff0000;
    min-height: 35px ;
    padding: 15px ;
}
.fileUploader .result > div {
    margin-bottom: 15px ;
    width: 49%;
    margin-right: 1%;
    float: left;
}
.fileUploader .result > div input {
    width: 100%;
    display: block;
}
.fileUploader .result:last-child:after {
    content: '';
    display: block;
    clear: both;
}
.fileUploader .debugMode {
    color: #ff0000;
    margin: 35px  auto auto 0;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
.fileUploader .debug {
    color: #ff0000;
    text-align: center;
}
/*#sourceMappingURL=fileUploader.css.map */



@media only screen and (min-width : 240px) and (max-width : 552px) {
    #navbar li {
        display: block;
        width: 100%;
    }
    .content-form .nav-tabs>li>a{
        margin-right: 5px;
    }
}

@media only screen and (min-width: 553px) and (max-width: 767px) { 
    #navbar li {
        display: block;
        width: 100%;
    }
}


@media only screen and (max-width : 640px) and (orientation:landscape){
    #navbar li {
        display: block;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait) { 

}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation: landscape) { 


}