@import url('//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css');
body {
	background: url('http://api.thumbr.it/whitenoise-361x370.png');
}
.sync_container {
    margin-top: 165px;
	width: 1500px;
	margin-left: -155px;	
}
.text {
	color:#696969; 
	font-family:'Lucida Sans Unicode', 'Lucida Grande', 
	sans-serif; 
	line-height:30px;
}
.no-radius {
	border-radius: 0px;
}
.modal-backdrop, .modal-backdrop.fade.in {
    background: url('http://api.thumbr.it/whitenoise-361x370.png');
}
.progress-bar {
    height: 42px;
    line-height: 40px;
    margin-top: 35px;
}
#bar-text {
	font-size: 30px;
    padding-left: 20px;
}

@media only screen and (min-width : 240px) and (max-width : 552px) {
	.sync_container {
	    margin-left: 0;
	    margin-top: 165px;
	    width: 100%;
	}
	.text {
	    font-size: 17px;
	}
}

@media only screen and (min-width: 553px) and (max-width: 767px) {
	.sync_container {
	    margin-left: 0;
	    margin-top: 165px;
	    width: 100%;
	}
	.text {
	    font-size: 17px;
	}
}

@media only screen and (max-width : 640px) and (orientation:landscape){
	.sync_container {
	    margin-left: 0;
	    margin-top: 165px;
	    width: 100%;
	}
	.text {
	    font-size: 17px;
	}	
}
@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:portrait){
	.sync_container {
	    margin-left: 0;
	    margin-top: 165px;
	    width: 100%;
	}
	.text {
	    font-size: 17px;
	}
}

@media only screen and (min-width: 768px) and (max-width:1024px) and (orientation:landscape){
	.sync_container {
	    margin-left: 0;
	    margin-top: 165px;
	    width: 100%;
	}
}