/**
| ---------------------------------------
| @author: Jovanni G <jovanni@agentsquared.com>
| ---------------------------------------
*/
body.modal-show .wrapper{
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
}
.modal-overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  background-color: rgba(0,0,0,0.5);
  z-index: 9000;
}
.modal-container{
  background-color: rgba(255,255,255,0.8);
  display: block;
  min-height: 200px;
  max-width: 800px;
  margin: auto;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 350px;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0,0,0,0.5);
}
.modal-close{
  background-color: transparent;
  border: none;
  padding: 8px;
  position: absolute;
  right: -15px;
  top: -15px;
  line-height: 0;
  width: 38px;
  height: 38px;
  z-index: 10;
  background-color: #444;
  border-radius: 100px;
}
.modal-close:before,
.modal-close:after{
  content: '';
  width: 2px;
  height: 20px;
  display: inline-block;
  background-color: #aaa;
}
.modal-close:before{
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-right: -1px;
}
.modal-close:after{
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: -1px;
}
.modal-close:hover{
  background-color: rgba(0,0,0,0.2);
}
.modal-close:hover:before,
.modal-close:hover:after{
  background-color: white;
}
.modal-container .modal-content{
  background-color: transparent;
  padding: 10px;
  box-shadow: none;
}
.modal-container .modal-content .modal-title{
  margin: 0;
line-height: 1;
font-size: 24px;
margin-bottom: 30px;
padding: 12px 20px;
background-color: #00578F;
color: white;
border-radius: 3px;
}
.modal-content .cc-form:after,
.modal-content .cc-form div:after{
  content: '';
  display: block;
  width: 100%;
  clear: both;
}
.modal-content .cc-form{
  padding: 10px;
  background-color: #C2CFD2;
  border-radius: 8px;
}
.modal-content .cc-form > div{
  margin: 12px 0;
}
.modal-content .cc-form .form-control{
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.3);
  padding: 10px 15px;
  box-sizing: content-box;
  height: auto;
  width: auto;
}
.modal-content #cc-update{
  float: right;
  margin-top: 10px;
}

.modal-content .cc-error{
  color: red;
  font-style: italic;
}

.modal-updatcc{
  max-width: 420px;
}
.modal-updatcc .modal-content:after,
.modal-updatcc .modal-content .col-md-12:after{
  content: '';
  width: 100%;
  display: block;
  clear: both;
}
